### La librairie Pandas

### Lire un fichier CSV avec Pandas

In [1]:
import pandas as pd

In [2]:
# lire le fichier CSV dans un dataframe
# .read_csv(fichier)
food_info = pd.read_csv("food-info.csv")

print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

### Exploration du DataFrame

In [3]:
# head(n) => renvoie les n (5 par défaut) premières lignes
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [4]:
food_info.head(2)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0

In [5]:
print(food_info.head(2))

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0

[2 rows x 36 columns]

In [6]:
# columns

column_names = food_info.columns
print(column_names)

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [7]:
# shape => renvoie un tuple (nbre lignes x nombre de colonnes)
dimensions = food_info.shape
print(dimensions)

(8618, 36)

In [8]:
# Nombre de lignes
num_rows = dimensions[0]
num_cols = dimensions[1]
print(f"notre dataframe fait {num_rows} lignes par {num_cols} colonnes")

notre dataframe fait 8618 lignes par 36 colonnes

### Sélectionner une ligne

In [9]:
# loc[]
# Objet Series représentant la ligne d'index 0 ou de position 1
food_info.loc[0]

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

In [10]:
# KeyError
food_info.loc[8620]

KeyError: 'the label [8620] is not in the [index]'

In [48]:
type(food_info.loc[0])

pandas.core.series.Series

In [ ]:
row_100 = food_info.loc[99]
print(row_100)

### Les types de données Pandas

In [ ]:
# object
# int
# float
# datetime
# bool

# dataframe.dtypes
print(food_info.dtypes)

### Sélectionner plusieurs lignes

In [ ]:
# Dataframe contenant les lignes d'index 3,4,5 et 6
food_info.loc[3:6]

In [ ]:
# Dataframe contenant les lignes d'index 2, 5 et 10

two_five_ten = [2, 5, 10]
food_info.loc[two_five_ten]

In [ ]:
food_info.loc[[2, 5, 10]]

In [ ]:
last_rows = food_info.loc[food_info.shape[0] - 5:food_info.shape[0] - 1]
last_rows

### Sélectionner une colonne

In [ ]:
# Objet Series représentant la colonne "NDB_No"
ndb_col = food_info["NDB_No"]
print(ndb_col)
# ou
col_name = "NDB_No"
ndb_col = food_info[col_name]
print(ndb_col)

In [ ]:
protein = food_info["Protein_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]
print(protein)
print(cholesterol)

### Sélectionner plusieurs colonnes

In [ ]:
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]
print(zinc_copper)

# ou directement
print(food_info[["Zinc_(mg)", "Copper_(mg)"]])

In [ ]:
selenium_thiamin = food_info[["Shrt_Desc", "Selenium_(mcg)", "Thiamin_(mg)"]]
print(selenium_thiamin)

### Cas pratique
#### Sélectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c-à-d qui se terminent par "_(g)")

In [ ]:
grammes = [name for name in food_info.columns.tolist() if name.endswith("_(g)")]

In [ ]:
gram_df = food_info[grammes]
print(gram_df.head(3))
gram_df.head(3)

## Manipulation de données avec Pandas

### Introduction

In [ ]:
import pandas as pd

food_info = pd.read_csv("food-info.csv")
col_names = [col for col in food_info.columns.tolist()]
for col in col_names:
    print(col)
    
print(food_info.head(3))

### Transformer une colonne

In [ ]:
# Score = 2 x Protein - 0.75 x Lipid

In [ ]:
div_1000 = food_info["Iron_(mg)"] / 1000

In [ ]:
div_1000

In [ ]:
# ajoute 100 à chaque valeur dans la colonne et retourne un nouvel objet Series

In [ ]:
add_100 = food_info["Iron_(mg)"] + 100

In [ ]:
add_100.head(3)

In [ ]:
sodium_grams = food_info["Sodium_(mg)"] * 1000
sodium_grams.head(5)

In [ ]:
sugar_milligrams = food_info["Sugar_Tot_(g)"] / 1000
sugar_milligrams.head(10)

### Opérations mathématiques entre colonnes

In [ ]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]

In [ ]:
water_energy.head(5)

In [ ]:
print(food_info[["Water_(g)", "Energ_Kcal"]][:5])

In [ ]:
grams_of_proteins_per_grams_of_water = food_info["Protein_(g)"] / food_info["Water_(g)"]

In [ ]:
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

In [ ]:
print(grams_of_proteins_per_grams_of_water[:10])

In [ ]:
print(milligrams_of_calcium_and_iron[:10])

### Créer un indice nutritionnel

Score = 2 x (Protein_(g)) - 0.75 x (Lipid_Tot_(g))

In [ ]:
protein = food_info["Protein_(g)"] * 2
fat = food_info["Lipid_Tot_(g)"] * -0.75
rating = protein + fat
print(rating)

### Normaliser des colonnes

In [ ]:
# Series.max()

In [ ]:
# Valeur max de la colonne "Energ_Kcal"
max_calories = food_info["Energ_Kcal"].max()
print(f"le plus calorique est {max_calories}")

In [ ]:
# Diviser les valerus de la colonne "Energ_Kcal"par la valeur max de cette colonne
normalized_calories = food_info["Energ_Kcal"] / max_calories
print(normalized_calories)

In [ ]:
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()

### Créer une nouvelle colonne

In [ ]:
iron_grams = food_info["Iron_(mg)"] / 1000
food_info["Iron_(g)"] = iron_grams

In [ ]:
food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat
print(food_info.head(5))

### Supprimer une colonne

In [ ]:
# dataframe.drop("Nom_colonne", axis=0|1, inplace=True)
# axis 0 => x rows/lignes
# axis 1 => y columns/colonnes
food_info.drop("Iron_(g)", axis=1, inplace=True)
food_info

### Créer un indice nutritionnel normalisé

In [ ]:
food_info["Norm_Nutr_Index"] = 2 * food_info["Normalized_Protein"] - 0.75 * food_info["Normalized_Fat"]
food_info.head()

### Trier un DataFrame

In [ ]:
# df.sort_values("Nom Colonne", inplace=True, ascending=False)
food_info.sort_values("Norm_Nutr_Index", inplace=True, ascending=False)

In [ ]:
food_info

## Traiter les valeurs manquantes

### Introduction au dataset

In [11]:
import pandas as pd
titanic_survival = pd.read_csv("titanic-survival.csv")
titanic_survival.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Trouver les valeurs manquantes

In [21]:
# pandas.isnull("Nom Colonne") => renvoie un objet Serie avec True si la valeur est manquante, False sinon
sex = titanic_survival["sex"]
sex_is_null = pd.isnull(sex)

In [22]:
sex_is_null

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305    False
1306    False
1307    False
1308    False
1309     True
Name: sex, Length: 1310, dtype: bool

In [ ]:
sex_null = sex[sex_is_null]
sex_null

In [ ]:
age = titanic_survival["age"]
age_is_null = pd.isnull(age)
age_null = age[age_is_null]
age_null_count = len(age_null)
print(f"le nombre d'ages non renseignés est {age_null_count}")

### Problème avec les valeurs manquantes

In [ ]:
mean_age = sum(titanic_survival["age"]) / len(titanic_survival["age"])
print(f"l'age moyen est {mean_age}")

In [ ]:
good_ages_1 = [age for age in titanic_survival["age"] if age > 0]
mean_age = sum(good_ages_1) / len(good_ages_1)
print(f"l'age moyen est {mean_age}")

In [ ]:
good_ages_1 
print(age_is_null[:20])

In [ ]:
age_is_null = pd.isnull(titanic_survival["age"])
good_ages = titanic_survival["age"][age_is_null == False]
mean_age = sum(good_ages) / len(good_ages)
print(f"l'age moyen est {mean_age}")

### Calculer une moyenne plus simplement

In [ ]:
print(f"l'age moyen est {titanic_survival['age'].mean()}")

In [ ]:
mean_fare = titanic_survival["fare"].mean()
print(f"le tarif moyen est {mean_fare}")

### Calculer des statistiques de prix

In [ ]:
fares_by_class = {}
passenger_classes = [1, 2, 3]
for classe in passenger_classes:
    fares_by_class[classe] = titanic_survival["fare"][titanic_survival["pclass"] == classe].mean()

print(fares_by_class)

# Solution de Rod
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["pclass"] == this_class]
    pclass_fares = pclass_rows["fare"]
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
    
print(fares_by_class)

### Introduction aux pivots de table

In [41]:
# df.pivot_table(index="colonne à grouper", values="colonne sur laquelle on applique la fonction", aggfunc="par défaut mean()")
import numpy
passenger_class_fares = titanic_survival.pivot_table(index="pclass", values="fare", aggfunc=numpy.mean)

In [42]:
print(passenger_class_fares)

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889

In [43]:
passenger_ages = titanic_survival.pivot_table(index="pclass", values="age")
print(passenger_ages)

              age
pclass
1.0     39.159918
2.0     29.506705
3.0     24.816367

In [44]:
passenger_survival = titanic_survival.pivot_table(index="pclass", values="survived")
print(passenger_survival)

        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289

### Tables Pivot Niveau 2

In [47]:
port_stats = titanic_survival.pivot_table(index="embarked", values=["fare", "survived"], aggfunc=numpy.sum)
print(port_stats)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

### Eliminer les valeurs manquantes d'une matrice

In [ ]:
# dataframe.dropna(axis=0 ou 'index'|1 ou 'column', how="any"|"all", subset=["nom colonnes"...])
# index => vire la ligne contenant les valeurs manquantes, défaut
# column => vire la colonne contenant les valeurs manquantes
# how="any" => vire la ligne/colonne s'il y a une valeur manquante
# how="all" => vire la ligne/colonne si toutes les valeurs sont manquantes
drop_na_rows = titanic_survival.dropna(axis=0)
drop_na_cols = titanic_survival.dropna(axis=1)

In [ ]:
drop_na_cols

In [ ]:
drop_na_rows = titanic_survival.dropna(axis=0, subset=["name"])
drop_na_rows

In [13]:
new_titanic_survival = titanic_survival.dropna(axis=0, subset=["age", "sex"])
print(f"le nombre de dimensions de titanic_survivor est {titanic_survival.shape}")
print(f"le nombre de dimensions de new_titanic_survivor est {new_titanic_survival.shape}")

le nombre de dimensions de titanic_survivor est (1310, 14)
le nombre de dimensions de new_titanic_survivor est (1046, 14)

### Iloc pour accéder à des lignes

In [ ]:
# dataframe.loc[] ne convient pas sur des dataframes dont on a modifié la poition/classement 
# car loc se base sur un intitulé de colonne/ligne, alors qu'iloc se base sur la position
first_ten_rows = new_titanic_survival.iloc[:10]
row_position_fifth = new_titanic_survival.iloc[4]
row_index_25 = new_titanic_survival.loc[25]

In [ ]:
first_ten_rows

In [ ]:
row_position_fifth

In [ ]:
row_index_25

### Les index de colonne

In [ ]:
new_titanic_survival.iloc[0,2]

In [ ]:
new_titanic_survival.iloc[:,:3] # les 3 premières colonnes

In [ ]:
new_titanic_survival.loc[766, "age"]

In [18]:
row_index_1100_age = new_titanic_survival.loc[1100, "age"]
row_index_25_survived = new_titanic_survival.loc[25, "survived"]
five_rows_three_cols = new_titanic_survival.iloc[:5,:3]
print(row_index_1100_age)
print(row_index_25_survived)
print(five_rows_three_cols)

29.0
0.0
   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

### Réindexer les lignes d'un dataframe

In [19]:
# dataFrame.reset_index(drop=True)
# drop=True garde l'ancien indexage sur une nouvelle colonne 'index'
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
print(titanic_reindexed.iloc[:5,:3])

   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

### Appliquer des fonctions sur un dataFrame

In [20]:
# dataFrame.apply(nom_fonction)

In [40]:
def null_count(column):
    serie_is_null = pd.isnull(column)
    return(len(column[serie_is_null]))

column_null_count = titanic_survival.apply(null_count)
print(f"le nombre de valeurs manquantes pour chaque colonne est: {column_null_count}")

le nombre de valeurs manquantes pour chaque colonne est: pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

### Appliquer une fonction à une ligne

In [35]:
# dataFrame.apply(nom_fonction, axis=1)

In [38]:
def is_minor(row):
    if row["age"] < 18:
        return True
    else:
        return False
    
minors = titanic_survival.apply(is_minor, axis=1)
print(minors)

0       False
1        True
2        True
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300     True
1301    False
1302    False
1303    False
1304     True
1305    False
1306    False
1307    False
1308    False
1309    False
Length: 1310, dtype: bool

In [37]:
def which_class(row):
    pclass = row["pclass"]
    if pd.isnull(pclass):
        return 'Unknow'
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    else:
        return "Third Class"
    
classes = titanic_survival.apply(which_class, axis=1)
classes

0       First Class
1       First Class
2       First Class
3       First Class
4       First Class
5       First Class
6       First Class
7       First Class
8       First Class
9       First Class
10      First Class
11      First Class
12      First Class
13      First Class
14      First Class
15      First Class
16      First Class
17      First Class
18      First Class
19      First Class
20      First Class
21      First Class
22      First Class
23      First Class
24      First Class
25      First Class
26      First Class
27      First Class
28      First Class
29      First Class
           ...
1280    Third Class
1281    Third Class
1282    Third Class
1283    Third Class
1284    Third Class
1285    Third Class
1286    Third Class
1287    Third Class
1288    Third Class
1289    Third Class
1290    Third Class
1291    Third Class
1292    Third Class
1293    Third Class
1294    Third Class
1295    Third Class
1296    Third Class
1297    Third Class
1298    Third Class
1299    Third Class
1300    Third Class
1301    Third Class
1302    Third Class
1303    Third Class
1304    Third Class
1305    Third Class
1306    Third Class
1307    Third Class
1308    Third Class
1309         Unknow
Length: 1310, dtype: object

In [39]:
def is_minor(row):
    age = row["age"]
    if pd.isnull(age):
        return "unknow"
    if row["age"] < 18:
        return "minor"
    else:
        return "adult"
    
age_labels = titanic_survival.apply(is_minor, axis=1)
print(age_labels.head(10))

0    adult
1    minor
2    minor
3    adult
4    adult
5    adult
6    adult
7    adult
8    adult
9    adult
dtype: object

### Calculer le pourcentage de survie par groupe

In [46]:
titanic_survival["age_labels"] = age_labels
# df.pivot_table(index="colonne à grouper", values="colonne sur laquelle on applique la fonction", aggfunc="par défaut mean()")
age_group_survival = titanic_survival.pivot_table(index="age_labels", values="survived")
print(age_group_survival)

            survived
age_labels
adult       0.387892
minor       0.525974
unknow      0.277567