### La librairie Pandas

### Lire un fichier CSV avec Pandas

In [1]:
import pandas as pd

In [2]:
# lire le fichier CSV dans un dataframe
# .read_csv(fichier)
food_info = pd.read_csv("food-info.csv")

print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

### Exploration du DataFrame

In [4]:
# head(n) => renvoie les n (5 par défaut) premières lignes
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [5]:
food_info.head(2)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0

In [6]:
print(food_info.head(2))

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0

[2 rows x 36 columns]

In [7]:
# columns

column_names = food_info.columns
print(column_names)

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [8]:
# shape => renvoie un tuple (nbre lignes x nombre de colonnes)
dimensions = food_info.shape
print(dimensions)

(8618, 36)

In [9]:
# Nombre de lignes
num_rows = dimensions[0]
num_cols = dimensions[1]
print(f"notre dataframe fait {num_rows} lignes par {num_cols} colonnes")

notre dataframe fait 8618 lignes par 36 colonnes

### Sélectionner une ligne

In [10]:
# loc[]
# Objet Series représentant la ligne d'index 0 ou de position 1
food_info.loc[0]

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

In [11]:
# KeyError
food_info.loc[8620]

KeyError: 'the label [8620] is not in the [index]'

In [12]:
type(food_info.loc[0])

pandas.core.series.Series

In [14]:
row_100 = food_info.loc[99]
print(row_100)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

### Les types de données Pandas

In [15]:
# object
# int
# float
# datetime
# bool

# dataframe.dtypes
print(food_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

### Sélectionner plusieurs lignes

In [16]:
# Dataframe contenant les lignes d'index 3,4,5 et 6
food_info.loc[3:6]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0

In [17]:
# Dataframe contenant les lignes d'index 2, 5 et 10

two_five_ten = [2, 5, 10]
food_info.loc[two_five_ten]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

In [18]:
food_info.loc[[2, 5, 10]]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

In [22]:
last_rows = food_info.loc[food_info.shape[0] - 5:food_info.shape[0] - 1]
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

### Sélectionner une colonne

In [23]:
# Objet Series représentant la colonne "NDB_No"
ndb_col = food_info["NDB_No"]
print(ndb_col)
# ou
col_name = "NDB_No"
ndb_col = food_info[col_name]
print(ndb_col)

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64
0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [25]:
protein = food_info["Protein_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]
print(protein)
print(cholesterol)

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
5       20.75
6       19.80
7       25.18
8       24.04
9       23.37
10      23.76
11      11.12
12      10.69
13      10.34
14      10.45
15      12.39
16       5.93
17      24.99
18      14.21
19      25.60
20       9.65
21      24.94
22      29.81
23      20.05
24      24.48
25      22.17
26      21.60
27      24.26
28      24.58
29      23.41
        ...
8588     6.60
8589     1.00
8590     0.30
8591     8.70
8592     7.12
8593    12.60
8594     0.50
8595    28.40
8596     4.40
8597    27.50
8598     0.00
8599     0.00
8600     0.00
8601     4.08
8602    11.30
8603     5.30
8604     0.00
8605     0.30
8606     0.41
8607     0.08
8608    10.08
8609     1.60
8610     0.81
8611    75.16
8612    16.40
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64
0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
5       100.0
6        72.0
7        93.0
8       102.0
9       103.0
10       95.0
11       17.0
12       13.0
13        7.0
14       12.0
15        4.0
16      110.0
17       89.0
18       89.0
19      116.0
20       94.0
21      114.0
22      110.0
23       90.0
24       89.0
25       79.0
26       89.0
27       64.0
28       65.0
29       96.0
        ...
8588      0.0
8589      0.0
8590      0.0
8591      0.0
8592      0.0
8593      0.0
8594      0.0
8595     35.0
8596      0.0
8597     54.0
8598      0.0
8599      0.0
8600      0.0
8601      6.0
8602      0.0
8603      0.0
8604      0.0
8605      0.0
8606      0.0
8607      0.0
8608      0.0
8609      0.0
8610      0.0
8611      0.0
8612     50.0
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

### Sélectionner plusieurs colonnes

In [27]:
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]
print(zinc_copper)

# ou directement
print(food_info[["Zinc_(mg)", "Copper_(mg)"]])

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
5          2.38        0.019
6          2.38        0.021
7          2.94        0.024
8          3.43        0.056
9          2.79        0.042
10         3.07        0.042
11         0.40        0.029
12         0.33        0.040
13         0.47        0.030
14         0.51        0.033
15         0.38        0.028
16         0.51        0.019
17         3.75        0.036
18         2.88        0.032
19         3.50        0.025
20         1.14        0.080
21         3.90        0.036
22         3.90        0.032
23         2.10        0.021
24         3.00        0.032
25         2.92        0.011
26         2.46        0.022
27         2.76        0.025
28         3.61        0.034
29         2.81        0.031
...         ...          ...
8588       3.30        0.377
8589       0.05        0.040
8590       0.05        0.030
8591       1.15        0.116
8592       5.03        0.200
8593       3.83        0.545
8594       0.08        0.035
8595       3.90        0.027
8596       4.10        0.100
8597       3.13        0.027
8598       0.13        0.000
8599       0.02        0.000
8600       0.09        0.037
8601       0.21        0.026
8602       2.77        0.571
8603       0.41        0.838
8604       0.05        0.028
8605       0.03        0.023
8606       0.10        0.112
8607       0.02        0.020
8608       1.49        0.854
8609       0.19        0.040
8610       0.10        0.038
8611       0.85        0.182
8612       1.00        0.250
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]
      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
5          2.38        0.019
6          2.38        0.021
7          2.94        0.024
8          3.43        0.056
9          2.79        0.042
10         3.07        0.042
11         0.40        0.029
12         0.33        0.040
13         0.47        0.030
14         0.51        0.033
15         0.38        0.028
16         0.51        0.019
17         3.75        0.036
18         2.88        0.032
19         3.50        0.025
20         1.14        0.080
21         3.90        0.036
22         3.90        0.032
23         2.10        0.021
24         3.00        0.032
25         2.92        0.011
26         2.46        0.022
27         2.76        0.025
28         3.61        0.034
29         2.81        0.031
...         ...          ...
8588       3.30        0.377
8589       0.05        0.040
8590       0.05        0.030
8591       1.15        0.116
8592       5.03        0.200
8593       3.83        0.545
8594       0.08        0.035
8595       3.90        0.027
8596       4.10        0.100
8597       3.13        0.027
8598       0.13        0.000
8599       0.02        0.000
8600       0.09        0.037
8601       0.21        0.026
8602       2.77        0.571
8603       0.41        0.838
8604       0.05        0.028
8605       0.03        0.023
8606       0.10        0.112
8607       0.02        0.020
8608       1.49        0.854
8609       0.19        0.040
8610       0.10        0.038
8611       0.85        0.182
8612       1.00        0.250
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

In [29]:
selenium_thiamin = food_info[["Shrt_Desc", "Selenium_(mcg)", "Thiamin_(mg)"]]
print(selenium_thiamin)

                                              Shrt_Desc  Selenium_(mcg)  \
0                                      BUTTER WITH SALT             1.0
1                              BUTTER WHIPPED WITH SALT             1.0
2                                  BUTTER OIL ANHYDROUS             0.0
3                                           CHEESE BLUE            14.5
4                                          CHEESE BRICK            14.5
5                                           CHEESE BRIE            14.5
6                                      CHEESE CAMEMBERT            14.5
7                                        CHEESE CARAWAY            14.5
8                                        CHEESE CHEDDAR            28.3
9                                       CHEESE CHESHIRE            14.5
10                                         CHEESE COLBY            14.5
11                  CHEESE COTTAGE CRMD LRG OR SML CURD             9.7
12                          CHEESE COTTAGE CRMD W/FRUIT             7.7
13     CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD             9.4
14                     CHEESE COTTAGE LOWFAT 2% MILKFAT            11.9
15                     CHEESE COTTAGE LOWFAT 1% MILKFAT             9.0
16                                         CHEESE CREAM             2.4
17                                          CHEESE EDAM            14.5
18                                          CHEESE FETA            15.0
19                                       CHEESE FONTINA            14.5
20                                       CHEESE GJETOST            14.5
21                                         CHEESE GOUDA            14.5
22                                       CHEESE GRUYERE            14.5
23                                     CHEESE LIMBURGER            14.5
24                                      CHEESE MONTEREY            14.5
25                           CHEESE MOZZARELLA WHL MILK            17.0
26                  CHEESE MOZZARELLA WHL MILK LO MOIST            16.1
27                     CHEESE MOZZARELLA PART SKIM MILK            14.4
28                 CHEESE MOZZARELLA LO MOIST PART-SKIM            26.8
29                                      CHEESE MUENSTER            14.5
...                                                 ...             ...
8588         BABYFOOD CRL RICE W/ PEARS & APPL DRY INST            16.3
8589                     BABYFOOD BANANA NO TAPIOCA STR             1.1
8590                     BABYFOOD BANANA APPL DSSRT STR             0.6
8591       SNACKS TORTILLA CHIPS LT (BAKED W/ LESS OIL)            15.7
8592  CEREALS RTE POST HONEY BUNCHES OF OATS HONEY RSTD             7.3
8593                         POPCORN MICROWAVE LOFAT&NA             8.6
8594                       BABYFOOD FRUIT SUPREME DSSRT             0.4
8595                               CHEESE SWISS LOW FAT            12.7
8596             BREAKFAST BAR CORN FLAKE CRUST W/FRUIT            15.0
8597                            CHEESE MOZZARELLA LO NA            15.7
8598                           MAYONNAISE DRSNG NO CHOL             1.6
8599                          OIL CORN PEANUT AND OLIVE             0.0
8600                   SWEETENERS TABLETOP FRUCTOSE LIQ             0.5
8601                              CHEESE FOOD IMITATION             2.9
8602                                CELERY FLAKES DRIED            15.3
8603           PUDDINGS CHOC FLAVOR LO CAL INST DRY MIX             3.9
8604                    BABYFOOD GRAPE JUC NO SUGAR CND             NaN
8605                   JELLIES RED SUGAR HOME PRESERVED             1.4
8606                         PIE FILLINGS BLUEBERRY CND             0.4
8607               COCKTAIL MIX NON-ALCOHOLIC CONCD FRZ             0.5
8608            PUDDINGS CHOC FLAVOR LO CAL REG DRY MIX             5.1
8609  PUDDINGS ALL FLAVORS XCPT CHOC LO CAL REG DRY MIX             0.9
8610  PUDDINGS ALL FLAVORS XCPT CHOC LO CAL INST DRY...             0.8
8611                                 VITAL WHEAT GLUTEN            39.7
8612                                      FROG LEGS RAW            14.1
8613                                    MACKEREL SALTED            73.4
8614                         SCALLOP (BAY&SEA) CKD STMD            21.7
8615                                         SYRUP CANE             0.7
8616                                          SNAIL RAW            27.4
8617                                   TURTLE GREEN RAW            16.8

      Thiamin_(mg)
0            0.005
1            0.005
2            0.001
3            0.029
4            0.014
5            0.070
6            0.028
7            0.031
8            0.027
9            0.046
10           0.015
11           0.027
12           0.033
13           0.023
14           0.020
15           0.021
16           0.020
17           0.037
18           0.154
19           0.021
20           0.315
21           0.030
22           0.060
23           0.080
24           0.015
25           0.030
26           0.016
27           0.018
28           0.059
29           0.013
...            ...
8588         1.600
8589         0.020
8590         0.020
8591         0.220
8592         1.300
8593         0.350
8594         0.010
8595         0.020
8596         1.000
8597         0.020
8598         0.010
8599         0.000
8600         0.000
8601         0.000
8602         0.440
8603         0.020
8604         0.010
8605         0.010
8606         0.023
8607         0.009
8608         0.025
8609         0.000
8610         0.005
8611         0.000
8612         0.140
8613         0.020
8614         0.012
8615         0.130
8616         0.010
8617         0.120

[8618 rows x 3 columns]

### Cas pratique
#### Sélectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c-à-d qui se terminent par "_(g)")

In [30]:
grammes = [name for name in food_info.columns.tolist() if name.endswith("_(g)")]

In [33]:
gram_df = food_info[grammes]
print(gram_df.head(3))
gram_df.head(3)

   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

## Manipulation de données avec Pandas

### Introduction

In [3]:
import pandas as pd

food_info = pd.read_csv("food-info.csv")
col_names = [col for col in food_info.columns.tolist()]
for col in col_names:
    print(col)
    
print(food_info.head(3))

NDB_No
Shrt_Desc
Water_(g)
Energ_Kcal
Protein_(g)
Lipid_Tot_(g)
Ash_(g)
Carbohydrt_(g)
Fiber_TD_(g)
Sugar_Tot_(g)
Calcium_(mg)
Iron_(mg)
Magnesium_(mg)
Phosphorus_(mg)
Potassium_(mg)
Sodium_(mg)
Zinc_(mg)
Copper_(mg)
Manganese_(mg)
Selenium_(mcg)
Vit_C_(mg)
Thiamin_(mg)
Riboflavin_(mg)
Niacin_(mg)
Vit_B6_(mg)
Vit_B12_(mcg)
Vit_A_IU
Vit_A_RAE
Vit_E_(mg)
Vit_D_mcg
Vit_D_IU
Vit_K_(mcg)
FA_Sat_(g)
FA_Mono_(g)
FA_Poly_(g)
Cholestrl_(mg)
   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0
2       ...          3069.0      840.0        2.80        1.8      73.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0
2          8.6      61.924       28.732        3.694           256.0

[3 rows x 36 columns]

### Transformer une colonne

In [1]:
# Score = 2 x Protein - 0.75 x Lipid

In [4]:
div_1000 = food_info["Iron_(mg)"] / 1000

In [5]:
div_1000

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
5       0.00050
6       0.00033
7       0.00064
8       0.00016
9       0.00021
10      0.00076
11      0.00007
12      0.00016
13      0.00015
14      0.00013
15      0.00014
16      0.00038
17      0.00044
18      0.00065
19      0.00023
20      0.00052
21      0.00024
22      0.00017
23      0.00013
24      0.00072
25      0.00044
26      0.00020
27      0.00022
28      0.00023
29      0.00041
         ...
8588    0.00900
8589    0.00030
8590    0.00010
8591    0.00163
8592    0.03482
8593    0.00228
8594    0.00017
8595    0.00017
8596    0.00486
8597    0.00025
8598    0.00023
8599    0.00013
8600    0.00011
8601    0.00068
8602    0.00783
8603    0.00311
8604    0.00030
8605    0.00018
8606    0.00080
8607    0.00004
8608    0.00387
8609    0.00005
8610    0.00038
8611    0.00520
8612    0.00150
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64

In [6]:
# ajoute 100 à chaque valeur dans la colonne et retourne un nouvel objet Series

In [7]:
add_100 = food_info["Iron_(mg)"] + 100

In [8]:
add_100.head(3)

0    100.02
1    100.16
2    100.00
Name: Iron_(mg), dtype: float64

In [9]:
sodium_grams = food_info["Sodium_(mg)"] * 1000
sodium_grams.head(5)

0     643000.0
1     659000.0
2       2000.0
3    1146000.0
4     560000.0
Name: Sodium_(mg), dtype: float64

In [11]:
sugar_milligrams = food_info["Sugar_Tot_(g)"] / 1000
sugar_milligrams.head(10)

0    0.00006
1    0.00006
2    0.00000
3    0.00050
4    0.00051
5    0.00045
6    0.00046
7        NaN
8    0.00028
9        NaN
Name: Sugar_Tot_(g), dtype: float64

### Opérations mathématiques entre colonnes

In [12]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]

In [13]:
water_energy.head(5)

0    11378.79
1    11378.79
2      210.24
3    14970.73
4    15251.81
dtype: float64

In [14]:
print(food_info[["Water_(g)", "Energ_Kcal"]][:5])

   Water_(g)  Energ_Kcal
0      15.87         717
1      15.87         717
2       0.24         876
3      42.41         353
4      41.11         371

In [15]:
grams_of_proteins_per_grams_of_water = food_info["Protein_(g)"] / food_info["Water_(g)"]

In [16]:
milligrams_of_calcium_and_iron = food_info["Calcium_(mg)"] + food_info["Iron_(mg)"]

In [18]:
print(grams_of_proteins_per_grams_of_water[:10])

0    0.053560
1    0.053560
2    1.166667
3    0.504598
4    0.565313
5    0.428542
6    0.382239
7    0.641039
8    0.647978
9    0.620717
dtype: float64

In [19]:
print(milligrams_of_calcium_and_iron[:10])

0     24.02
1     24.16
2      4.00
3    528.31
4    674.43
5    184.50
6    388.33
7    673.64
8    675.16
9    643.21
dtype: float64

### Créer un indice nutritionnel

Score = 2 x (Protein_(g)) - 0.75 x (Lipid_Tot_(g))

In [20]:
protein = food_info["Protein_(g)"] * 2
fat = food_info["Lipid_Tot_(g)"] * -0.75
rating = protein + fat
print(rating)

0       -59.1325
1       -59.1325
2       -74.0500
3        21.2450
4        24.2200
5        20.7400
6        21.4050
7        28.4600
8        22.7150
9        23.7900
10       23.4375
11       19.0150
12       18.4925
13       20.4625
14       19.1975
15       24.0150
16      -13.8200
17       29.1300
18       12.4600
19       27.8450
20       -2.8325
21       29.3000
22       35.3650
23       19.6625
24       26.2500
25       27.5775
26       24.7200
27       36.5800
28       34.3700
29       24.2900
          ...
8588     12.5250
8589      1.8500
8590      0.4500
8591      6.0000
8592     10.1450
8593     18.0750
8594      0.8500
8595     52.9750
8596      3.1750
8597     42.1750
8598    -58.3500
8599    -75.0000
8600      0.0000
8601     -6.4650
8602     21.0250
8603      8.8000
8604      0.0000
8605      0.5775
8606      0.6700
8607      0.1525
8608     17.9100
8609      3.1250
8610      0.9450
8611    148.9325
8612     32.5750
8613     18.1750
8614     40.4500
8615      0.0000
8616     31.1500
8617     39.2250
Length: 8618, dtype: float64

### Normaliser des colonnes

In [21]:
# Series.max()

In [26]:
# Valeur max de la colonne "Energ_Kcal"
max_calories = food_info["Energ_Kcal"].max()
print(f"le plus calorique est {max_calories}")

le plus calorique est 902

In [27]:
# Diviser les valerus de la colonne "Energ_Kcal"par la valeur max de cette colonne
normalized_calories = food_info["Energ_Kcal"] / max_calories
print(normalized_calories)

0       0.794900
1       0.794900
2       0.971175
3       0.391353
4       0.411308
5       0.370288
6       0.332594
7       0.416851
8       0.450111
9       0.429047
10      0.436807
11      0.108647
12      0.107539
13      0.079823
14      0.089800
15      0.079823
16      0.379157
17      0.395787
18      0.292683
19      0.431264
20      0.516630
21      0.394678
22      0.457871
23      0.362528
24      0.413525
25      0.332594
26      0.352550
27      0.281596
28      0.333703
29      0.407982
          ...
8588    0.431264
8589    0.100887
8590    0.075388
8591    0.515521
8592    0.444568
8593    0.475610
8594    0.080931
8595    0.198448
8596    0.417960
8597    0.310421
8598    0.762749
8599    0.980044
8600    0.309313
8601    0.284922
8602    0.353659
8603    0.394678
8604    0.068736
8605    0.198448
8606    0.200665
8607    0.318182
8608    0.404656
8609    0.389135
8610    0.388027
8611    0.410200
8612    0.080931
8613    0.338137
8614    0.123060
8615    0.298226
8616    0.099778
8617    0.098670
Name: Energ_Kcal, Length: 8618, dtype: float64

In [28]:
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"] / food_info["Lipid_Tot_(g)"].max()

### Créer une nouvelle colonne

In [33]:
iron_grams = food_info["Iron_(mg)"] / 1000
food_info["Iron_(g)"] = iron_grams

In [32]:
food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat
print(food_info.head(5))

   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28
3    1004               CHEESE BLUE      42.41         353        21.40
4    1005              CHEESE BRICK      41.11         371        23.24

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00
3          28.74     5.11            2.34           0.0           0.50
4          29.68     3.18            2.79           0.0           0.51

        ...        Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  \
0       ...              2.32        1.5      60.0          7.0      51.368
1       ...              2.32        1.5      60.0          7.0      50.489
2       ...              2.80        1.8      73.0          8.6      61.924
3       ...              0.25        0.5      21.0          2.4      18.669
4       ...              0.26        0.5      22.0          2.5      18.764

   FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  Normalized_Protein  \
0       21.021        3.043           215.0            0.009624
1       23.426        3.012           219.0            0.009624
2       28.732        3.694           256.0            0.003170
3        7.778        0.800            75.0            0.242301
4        8.598        0.784            94.0            0.263134

   Normalized_Fat
0          0.8111
1          0.8111
2          0.9948
3          0.2874
4          0.2968

[5 rows x 38 columns]

### Supprimer une colonne

In [34]:
# dataframe.drop("Nom_colonne", axis=0|1, inplace=True)
# axis 0 => x rows/lignes
# axis 1 => y columns/colonnes
food_info.drop("Iron_(g)", axis=1, inplace=True)
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.009624,0.8111
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.009624,0.8111
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.003170,0.9948
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,0.242301,0.2874
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,0.263134,0.2968
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0,0.234941,0.2768
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0,0.224185,0.2426
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0,0.285100,0.2920
8,1009,CHEESE CHEDDAR,37.10,406,24.04,33.82,3.71,1.33,0.0,0.28,...,0.78,0.6,24.0,2.9,19.368,8.428,1.433,102.0,0.272192,0.3382
9,1010,CHEESE CHESHIRE,37.65,387,23.37,30.60,3.60,4.78,0.0,NaN,...,NaN,NaN,NaN,NaN,19.475,8.671,0.870,103.0,0.264606,0.3060
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0,0.269022,0.3211
11,1012,CHEESE COTTAGE CRMD LRG OR SML CURD,79.79,98,11.12,4.30,1.41,3.38,0.0,2.67,...,0.08,0.1,3.0,0.0,1.718,0.778,0.123,17.0,0.125906,0.0430
12,1013,CHEESE COTTAGE CRMD W/FRUIT,79.64,97,10.69,3.85,1.20,4.61,0.2,2.38,...,0.04,0.0,0.0,0.4,2.311,1.036,0.124,13.0,0.121037,0.0385
13,1014,CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD,81.01,72,10.34,0.29,1.71,6.66,0.0,1.85,...,0.01,0.0,0.0,0.0,0.169,0.079,0.003,7.0,0.117074,0.0029
14,1015,CHEESE COTTAGE LOWFAT 2% MILKFAT,81.24,81,10.45,2.27,1.27,4.76,0.0,4.00,...,0.08,0.0,0.0,0.0,1.235,0.516,0.083,12.0,0.118320,0.0227
15,1016,CHEESE COTTAGE LOWFAT 1% MILKFAT,82.48,72,12.39,1.02,1.39,2.72,0.0,2.72,...,0.01,0.0,0.0,0.1,0.645,0.291,0.031,4.0,0.140285,0.0102
16,1017,CHEESE CREAM,54.44,342,5.93,34.24,1.32,4.07,0.0,3.21,...,0.29,0.6,25.0,2.9,19.292,8.620,1.437,110.0,0.067142,0.3424
17,1018,CHEESE EDAM,41.56,357,24.99,27.80,4.22,1.43,0.0,1.43,...,0.24,0.5,20.0,2.3,17.572,8.125,0.665,89.0,0.282948,0.2780
18,1019,CHEESE FETA,55.22,264,14.21,21.28,5.20,4.09,0.0,4.09,...,0.18,0.4,16.0,1.8,14.946,4.623,0.591,89.0,0.160892,0.2128
19,1020,CHEESE FONTINA,37.92,389,25.60,31.14,3.79,1.55,0.0,1.55,...,0.27,0.6,23.0,2.6,19.196,8.687,1.654,116.0,0.289855,0.3114
20,1021,CHEESE GJETOST,13.44,466,9.65,29.51,4.75,42.65,0.0,NaN,...,NaN,NaN,NaN,NaN,19.160,7.879,0.938,94.0,0.109262,0.2951
21,1022,CHEESE GOUDA,41.46,356,24.94,27.44,3.94,2.22,0.0,2.22,...,0.24,0.5,20.0,2.3,17.614,7.747,0.657,114.0,0.282382,0.2744
22,1023,CHEESE GRUYERE,33.19,413,29.81,32.34,4.30,0.36,0.0,0.36,...,0.28,0.6,24.0,2.7,18.913,10.043,1.733,110.0,0.337523,0.3234
23,1024,CHEESE LIMBURGER,48.42,327,20.05,27.25,3.79,0.49,0.0,0.49,...,0.23,0.5,20.0,2.3,16.746,8.606,0.495,90.0,0.227015,0.2725
24,1025,CHEESE MONTEREY,41.01,373,24.48,30.28,3.55,0.68,0.0,0.50,...,0.26,0.6,22.0,2.5,19.066,8.751,0.899,89.0,0.277174,0.3028
25,1026,CHEESE MOZZARELLA WHL MILK,50.01,300,22.17,22.35,3.28,2.19,0.0,1.03,...,0.19,0.4,16.0,2.3,13.152,6.573,0.765,79.0,0.251019,0.2235
26,1027,CHEESE MOZZARELLA WHL MILK LO MOIST,48.38,318,21.60,24.64,2.91,2.47,0.0,1.01,...,0.21,0.5,18.0,2.5,15.561,7.027,0.778,89.0,0.244565,0.2464
27,1028,CHEESE MOZZARELLA PART SKIM MILK,53.78,254,24.26,15.92,3.27,2.77,0.0,1.13,...,0.14,0.3,12.0,1.6,10.114,4.510,0.472,64.0,0.274683,0.1592
28,1029,CHEESE MOZZARELLA LO MOIST PART-SKIM,45.54,301,24.58,19.72,3.80,6.36,0.0,2.24,...,0.43,0.4,15.0,1.3,11.473,5.104,0.861,65.0,0.278306,0.1972
29,1030,CHEESE MUENSTER,41.77,368,23.41,30.04,3.66,1.12,0.0,1.12,...,0.26,0.6,22.0,2.5,19.113,8.711,0.661,96.0,0.265059,0.3004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8588,43544,BABYFOOD CRL RICE W/ PEARS & APPL DRY INST,2.00,389,6.60,0.90,2.00,88.60,2.6,1.35,...,0.13,0.0,0.0,0.3,0.185,0.252,0.231,0.0,0.074728,0.0090
8589,43546,BABYFOOD BANANA NO TAPIOCA STR,76.70,91,1.00,0.20,0.76,21.34,1.6,11.36,...,0.25,0.0,0.0,0.5,0.072,0.028,0.041,0.0,0.011322,0.0020
8590,43550,BABYFOOD BANANA APPL DSSRT STR,83.10,68,0.30,0.20,0.29,16.30,1.0,14.66,...,0.02,0.0,0.0,0.1,0.058,0.018,0.047,0.0,0.003397,0.0020
8591,43566,SNACKS TORTILLA CHIPS LT (BAKED W/ LESS OIL),1.30,465,8.70,15.20,1.85,73.40,5.7,0.53,...,3.53,0.0,0.0,0.7,2.837,6.341,5.024,0.0,0.098505,0.1520
8592,43570,CEREALS RTE POST HONEY BUNCHES OF OATS HONEY RSTD,5.00,401,7.12,5.46,1.22,81.19,4.2,19.79,...,1.22,4.6,183.0,3.0,0.600,2.831,1.307,0.0,0.080616,0.0546
8593,43572,POPCORN MICROWAVE LOFAT&NA,2.80,429,12.60,9.50,1.71,73.39,14.2,0.54,...,5.01,0.0,0.0,15.7,1.415,4.085,3.572,0.0,0.142663,0.0950
8594,43585,BABYFOOD FRUIT SUPREME DSSRT,81.60,73,0.50,0.20,0.52,17.18,2.0,14.87,...,0.79,0.0,0.0,5.1,0.030,0.025,0.068,0.0,0.005661,0.0020
8595,43589,CHEESE SWISS LOW FAT,59.60,179,28.40,5.10,3.50,3.40,0.0,1.33,...,0.07,0.1,4.0,0.5,3.304,1.351,0.180,35.0,0.321558,0.0510
8596,43595,BREAKFAST BAR CORN FLAKE CRUST W/FRUIT,14.50,377,4.40,7.50,0.80,72.90,2.1,35.10,...,0.76,0.0,0.0,13.8,1.500,5.000,0.900,0.0,0.049819,0.0750
8597,43597,CHEESE MOZZARELLA LO NA,49.90,280,27.50,17.10,2.40,3.10,0.0,1.23,...,0.15,0.3,13.0,1.8,10.867,4.844,0.509,54.0,0.311368,0.1710
8598,43598,MAYONNAISE DRSNG NO CHOL,21.70,688,0.00,77.80,0.40,0.30,0.0,0.30,...,11.79,0.0,0.0,24.7,10.784,18.026,45.539,0.0,0.000000,0.7780
8599,44005,OIL CORN PEANUT AND OLIVE,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,14.78,0.0,0.0,21.0,14.367,48.033,33.033,0.0,0.000000,1.0000
8600,44018,SWEETENERS TABLETOP FRUCTOSE LIQ,23.90,279,0.00,0.00,0.00,76.10,0.1,76.00,...,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000,0.0000
8601,44048,CHEESE FOOD IMITATION,55.50,257,4.08,19.50,4.74,16.18,0.0,8.21,...,2.15,0.0,0.0,36.7,7.996,3.108,7.536,6.0,0.046196,0.1950
8602,44055,CELERY FLAKES DRIED,9.00,319,11.30,2.10,13.90,63.70,27.8,35.90,...,5.55,0.0,0.0,584.2,0.555,0.405,1.035,0.0,0.127944,0.0210
8603,44061,PUDDINGS CHOC FLAVOR LO CAL INST DRY MIX,4.20,356,5.30,2.40,9.90,78.20,6.1,0.70,...,0.02,0.0,0.0,0.4,0.984,1.154,0.131,0.0,0.060009,0.0240
8604,44074,BABYFOOD GRAPE JUC NO SUGAR CND,84.40,62,0.00,0.00,0.22,15.38,0.1,NaN,...,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.0,0.000000,0.0000
8605,44110,JELLIES RED SUGAR HOME PRESERVED,53.00,179,0.30,0.03,0.08,46.10,0.8,45.30,...,0.00,0.0,0.0,0.2,0.009,0.001,0.008,0.0,0.003397,0.0003
8606,44158,PIE FILLINGS BLUEBERRY CND,54.66,181,0.41,0.20,0.35,44.38,2.6,37.75,...,0.23,0.0,0.0,3.9,0.000,0.000,0.000,0.0,0.004642,0.0020
8607,44203,COCKTAIL MIX NON-ALCOHOLIC CONCD FRZ,28.24,287,0.08,0.01,0.07,71.60,0.0,24.53,...,0.02,0.0,0.0,0.0,0.003,0.001,0.009,0.0,0.000906,0.0001
8608,44258,PUDDINGS CHOC FLAVOR LO CAL REG DRY MIX,6.80,365,10.08,3.00,5.70,74.42,10.1,0.70,...,0.02,0.0,0.0,0.5,1.578,1.150,0.130,0.0,0.114130,0.0300
8609,44259,PUDDINGS ALL FLAVORS XCPT CHOC LO CAL REG DRY MIX,10.40,351,1.60,0.10,1.86,86.04,0.9,2.90,...,0.05,0.0,0.0,1.1,0.018,0.032,0.050,0.0,0.018116,0.0010
8610,44260,PUDDINGS ALL FLAVORS XCPT CHOC LO CAL INST DRY...,6.84,350,0.81,0.90,6.80,84.66,0.8,0.90,...,0.08,0.0,0.0,1.7,0.099,0.116,0.433,0.0,0.009171,0.0090
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.00,...,0.00,0.0,0.0,0.0,0.272,0.156,0.810,0.0,0.850996,0.0185
8612,80200,FROG LEGS RAW,81.90,73,16.40,0.30,1.40,0.00,0.0,0.00,...,1.00,0.2,8.0,0.1,0.076,0.053,0.102,50.0,0.185688,0.0030
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0,0.209466,0.2510
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0,0.232563,0.0084
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.000000,0.0000
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0,0.182292,0.0140
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0,0.224185,0.0050

### Créer un indice nutritionnel normalisé

In [35]:
food_info["Norm_Nutr_Index"] = 2 * food_info["Normalized_Protein"] - 0.75 * food_info["Normalized_Fat"]
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.009624,0.8111,-0.589077
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,1.5,60.0,7.0,50.489,23.426,3.012,219.0,0.009624,0.8111,-0.589077
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,1.8,73.0,8.6,61.924,28.732,3.694,256.0,0.003170,0.9948,-0.739759
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,0.5,21.0,2.4,18.669,7.778,0.800,75.0,0.242301,0.2874,0.269051
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,0.5,22.0,2.5,18.764,8.598,0.784,94.0,0.263134,0.2968,0.303668

### Trier un DataFrame

In [40]:
# df.sort_values("Nom Colonne", inplace=True, ascending=False)
food_info.sort_values("Norm_Nutr_Index", inplace=True, ascending=False)

In [41]:
food_info

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Normalized_Protein,Normalized_Fat,Norm_Nutr_Index
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.00,...,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.000000,0.0053,1.996025
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.00,...,0.0,0.0,0.0,0.070,0.060,0.010,0.0,0.969203,0.0010,1.937656
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.00,...,0.0,0.0,0.0,0.147,0.173,0.070,20.0,0.958220,0.0048,1.912840
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.00,...,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.932971,0.0004,1.865642
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.00,...,NaN,NaN,NaN,0.600,1.330,0.370,NaN,0.935236,0.0230,1.853221
151,1173,EGG WHITE DRIED,5.80,382,81.10,0.00,5.30,7.80,0.0,5.40,...,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.918252,0.0000,1.836504
4990,16422,SOY PROT ISOLATE K TYPE,4.98,326,80.69,0.53,3.58,10.22,5.6,0.00,...,0.0,0.0,0.0,0.077,0.117,0.299,0.0,0.913610,0.0053,1.823244
4833,16122,SOY PROTEIN ISOLATE,4.98,338,80.69,3.39,3.58,7.36,5.6,0.00,...,0.0,0.0,0.0,0.422,0.645,1.648,0.0,0.913610,0.0339,1.801794
4200,14066,BEVERAGES PROT PDR WHEY BSD,3.44,352,78.13,1.56,10.55,6.25,3.1,0.00,...,0.0,0.0,0.0,0.781,0.158,0.299,16.0,0.884624,0.0156,1.757548
123,1135,EGG WHITE DRIED FLAKES STABILIZED GLUCOSE RED,14.62,351,76.92,0.04,4.25,4.17,0.0,0.00,...,0.0,0.0,0.0,0.000,0.000,0.000,0.0,0.870924,0.0004,1.741548
8234,35180,STEELHEAD TROUT DRIED FLESH (SHOSHONE BANNOCK),6.49,382,77.27,8.06,10.58,0.00,0.0,0.00,...,15.7,628.0,0.0,0.829,1.228,1.739,227.0,0.874887,0.0806,1.689324
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.00,...,0.0,0.0,0.0,0.272,0.156,0.810,0.0,0.850996,0.0185,1.688118
8117,35009,WHALE BELUGA MEAT DRIED (ALASKA NATIVE),22.39,327,69.86,5.34,2.69,0.00,0.0,0.00,...,NaN,NaN,0.0,1.204,3.345,0.319,122.0,0.790987,0.0534,1.541925
4173,14033,BEVERAGES ABBOTT EAS WHEY PROT PDR,6.61,385,66.67,5.13,3.65,17.95,0.0,5.13,...,0.0,0.0,0.5,2.564,0.281,0.926,205.0,0.754869,0.0513,1.471262
4989,16421,SOY PROT CONC CRUDE PROT BASIS (N X 6.25) ACID...,5.80,328,63.63,0.46,4.70,25.41,5.5,NaN,...,0.0,0.0,NaN,0.052,0.079,0.201,0.0,0.720448,0.0046,1.437447
4472,15018,COD ATLANTIC DRIED&SALTED,16.14,290,62.82,2.37,18.67,0.00,0.0,0.00,...,4.0,161.0,0.4,0.462,0.342,0.804,152.0,0.711277,0.0237,1.404779
8229,35175,SEAL BEARDED (OOGRUK) MEAT PART DRIED (ALASKA ...,34.92,270,62.38,2.31,2.78,0.00,NaN,0.00,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.706295,0.0231,1.395266
8139,35040,FISH HERRING EGGS PACIFIC DRY (ALASKA NATIVE),27.30,312,60.40,6.60,2.90,2.80,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.683877,0.0660,1.318254
8216,35161,CARIBOU SHLDR MEAT DRIED (ALASKA NATIVE),33.81,271,59.38,3.67,4.68,0.00,0.0,0.00,...,0.0,0.0,0.0,1.586,1.201,0.370,164.0,0.672328,0.0367,1.317131
8219,35165,FISH WHITEFISH DRIED (ALASKA NATIVE),20.59,371,62.44,13.44,5.57,0.00,0.0,0.00,...,NaN,NaN,1.3,2.850,4.380,2.160,266.0,0.706975,0.1344,1.313149
4988,16420,SOY PROT CONC PRODUCED BY ACID WASH,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,0.0,0.0,0.052,0.079,0.201,0.0,0.658175,0.0046,1.312900
4832,16121,SOY PROT CONC PRODUCED BY ALCOHOL EXTRACTION,5.80,331,58.13,0.46,4.70,30.91,5.5,20.00,...,0.0,0.0,0.0,0.052,0.079,0.201,0.0,0.658175,0.0046,1.312900
4192,14058,BEVERAGES WHEY PROT PDR ISOLATE,0.86,359,58.14,1.16,10.77,29.07,0.0,1.16,...,0.0,0.0,46.5,0.581,0.149,0.021,12.0,0.658288,0.0116,1.307876
8225,35171,FISH SALMON CHUM DRIED (ALASKA NATIVE),22.79,378,62.09,14.38,3.69,0.00,0.0,0.00,...,NaN,NaN,0.0,2.395,5.139,2.323,214.0,0.703012,0.1438,1.298174
8243,35190,SALMON RED (SOCKEYE) FILETS W/ SKN SMOKED (ALA...,23.93,345,60.62,11.43,6.19,0.00,0.0,0.00,...,NaN,NaN,0.0,2.593,4.025,3.469,155.0,0.686368,0.1143,1.287011
8172,35079,WALRUS MEAT DRIED (ALASKA NATIVE),38.80,251,57.00,2.60,1.60,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.645380,0.0260,1.271261
6340,19704,GELATIN DSSRT DRY MIX RED CAL W/ ASPRT NO ADDE...,6.70,345,55.30,0.00,4.70,33.30,0.0,NaN,...,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.626132,0.0000,1.252264
6339,19703,GELATIN DSSRT DRY MIX RED CAL W/ ASPRT ADDED P...,6.70,345,55.30,0.00,4.70,33.30,0.0,NaN,...,NaN,NaN,NaN,0.000,NaN,NaN,0.0,0.626132,0.0000,1.252264
3340,11667,SEAWEED SPIRULINA DRIED,4.68,290,57.47,7.72,6.23,23.90,3.6,3.10,...,0.0,0.0,25.5,2.650,0.675,2.080,0.0,0.650702,0.0772,1.243504
4201,14067,BEVERAGES PROT PDR SOY BSD,4.13,388,55.56,5.56,5.87,28.89,6.7,22.22,...,0.0,0.0,0.0,1.111,1.057,2.701,0.0,0.629076,0.0556,1.216452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,4650,OIL INDUSTRIAL SOY REFINED FOR WOKS & LT FRYING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,183.9,15.340,21.701,58.208,0.0,0.000000,1.0000,-0.750000
743,4649,SHORTENING INDUS SOY (PART HYDROG) POURABLE LI...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,24.7,18.358,38.870,38.009,0.0,0.000000,1.0000,-0.750000
742,4648,OIL INDUSTRIAL SOY (PART HYDR) FOR POPCORN & F...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,24.7,17.683,41.929,35.638,0.0,0.000000,1.0000,-0.750000
8455,42289,OIL CORN AND CANOLA,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,42.2,8.026,58.537,29.113,0.0,0.000000,1.0000,-0.750000
8180,35087,OIL WHALE BOWHEAD (ALASKA NATIVE),0.00,900,0.00,100.00,0.00,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0000,-0.750000
658,4513,VEGETABLE OIL PALM KERNEL,0.00,862,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,24.7,81.500,11.400,1.600,0.0,0.000000,1.0000,-0.750000
659,4514,OIL POPPYSEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,NaN,13.500,19.700,62.400,0.0,0.000000,1.0000,-0.750000
699,4587,SHORTENING SPL PURPOSE FOR BAKING SOYBN (HYDR)...,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,43.0,28.843,29.583,37.174,0.0,0.000000,1.0000,-0.750000
634,4044,OIL SOYBN SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,183.9,15.650,22.783,57.740,0.0,0.000000,1.0000,-0.750000
739,4644,OIL INDUSTRIAL CANOLA FOR SALADS WOKS & LT FRYING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,71.3,7.758,61.150,26.397,0.0,0.000000,1.0000,-0.750000
738,4643,OIL INDUSTRIAL CANOLA W/ ANTIFOAMING AGENT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,122.0,7.615,62.093,25.588,0.0,0.000000,1.0000,-0.750000
737,4642,OIL INDUSTRIAL MID-OLEIC SUNFLOWER,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,5.4,9.009,57.334,28.962,0.0,0.000000,1.0000,-0.750000
700,4588,OIL OAT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,24.7,19.620,35.110,40.870,0.0,0.000000,1.0000,-0.750000
633,4042,OIL PNUT SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.7,16.900,46.200,32.000,0.0,0.000000,1.0000,-0.750000
701,4589,FISH OIL COD LIVER,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,250.0,10000.0,NaN,22.608,46.711,22.541,570.0,0.000000,1.0000,-0.750000
702,4590,FISH OIL HERRING,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,NaN,NaN,NaN,21.290,56.564,15.604,766.0,0.000000,1.0000,-0.750000
661,4516,OIL TEASEED,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,NaN,21.100,51.500,23.000,0.0,0.000000,1.0000,-0.750000
703,4591,FISH OIL MENHADEN,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,NaN,NaN,NaN,30.427,26.694,34.197,521.0,0.000000,1.0000,-0.750000
705,4593,FISH OIL SALMON,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,NaN,NaN,NaN,19.872,29.037,40.324,485.0,0.000000,1.0000,-0.750000
632,4038,OIL WHEAT GERM,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,24.7,18.800,15.100,61.700,0.0,0.000000,1.0000,-0.750000
8599,44005,OIL CORN PEANUT AND OLIVE,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,21.0,14.367,48.033,33.033,0.0,0.000000,1.0000,-0.750000
639,4060,OIL SUNFLOWER LINOLEIC (LESS THAN 60%),0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,5.4,10.100,45.400,40.100,0.0,0.000000,1.0000,-0.750000
706,4594,FISH OIL SARDINE,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,8.3,332.0,NaN,29.892,33.841,31.867,710.0,0.000000,1.0000,-0.750000
707,4595,SHORTENING MULTIPURPOSE SOYBN (HYDR)&PALM (HYDR),0.00,884,0.00,100.00,0.00,0.00,0.0,NaN,...,NaN,NaN,NaN,30.423,50.973,14.204,0.0,0.000000,1.0000,-0.750000
635,4047,OIL COCNT,0.00,862,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.5,86.500,5.800,1.800,0.0,0.000000,1.0000,-0.750000
636,4053,OIL OLIVE SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,60.2,13.808,72.961,10.523,0.0,0.000000,1.0000,-0.750000
638,4058,OIL SESAME SALAD OR COOKING,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,0.0,0.0,13.6,14.200,39.700,41.700,0.0,0.000000,1.0000,-0.750000
704,4592,FISH OIL MENHADEN FULLY HYDR,0.00,902,0.00,100.00,0.00,0.00,0.0,NaN,...,NaN,NaN,NaN,95.600,0.000,0.000,500.0,0.000000,1.0000,-0.750000
631,4037,OIL RICE BRAN,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,24.7,19.700,39.300,35.000,0.0,0.000000,1.0000,-0.750000
637,4055,OIL PALM,0.00,884,0.00,100.00,0.00,0.00,0.0,0.00,...,NaN,NaN,8.0,49.300,37.000,9.300,0.0,0.000000,1.0000,-0.750000

## Traiter les valeurs manquantes

### Introduction au dataset

In [42]:
import pandas as pd
titanic_survival = pd.read_csv("titanic-survival.csv")
titanic_survival.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Trouver les valeurs manquantes

In [43]:
# pandas.isnull("Nom Colonne") => renvoie un objet Serie avec True si la valeur est manquante, Flase sinon
sex = titanic_survival["sex"]
sex_is_null = pd.isnull(sex)

In [44]:
sex_is_null

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1280    False
1281    False
1282    False
1283    False
1284    False
1285    False
1286    False
1287    False
1288    False
1289    False
1290    False
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297    False
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305    False
1306    False
1307    False
1308    False
1309     True
Name: sex, Length: 1310, dtype: bool

In [45]:
sex_null = sex[sex_is_null]
sex_null

1309    NaN
Name: sex, dtype: object

In [46]:
age = titanic_survival["age"]
age_is_null = pd.isnull(age)
age_null = age[age_is_null]
age_null_count = len(age_null)
print(f"le nombre d'ages non renseignés est {age_null_count}")

le nombre d'ages non renseignés est 264

### Problème avec les valeurs manquantes

In [47]:
mean_age = sum(titanic_survival["age"]) / len(titanic_survival["age"])
print(f"l'age moyen est {mean_age}")

l'age moyen est nan

In [58]:
good_ages_1 = [age for age in titanic_survival["age"] if age > 0]
mean_age = sum(good_ages_1) / len(good_ages_1)
print(f"l'age moyen est {mean_age}")

l'age moyen est 29.8811345124283

In [60]:
good_ages_1 
print(age_is_null[:20])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
Name: age, dtype: bool

In [61]:
age_is_null = pd.isnull(titanic_survival["age"])
good_ages = titanic_survival["age"][age_is_null == False]
mean_age = sum(good_ages) / len(good_ages)
print(f"l'age moyen est {mean_age}")

l'age moyen est 29.8811345124283

### Calculer une moyenne plus simplement

In [64]:
print(f"l'age moyen est {titanic_survival['age'].mean()}")

l'age moyen est 29.8811345124283

In [68]:
mean_fare = titanic_survival["fare"].mean()
print(f"le tarif moyen est {mean_fare}")

le tarif moyen est 33.29547928134572

### Calculer des statistiques de prix

In [74]:
fares_by_class = {}
passenger_classes = [1, 2, 3]
for classe in passenger_classes:
    fares_by_class[classe] = titanic_survival["fare"][titanic_survival["pclass"] == classe].mean()

print(fares_by_class)

# Solution de Rod
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["pclass"] == this_class]
    pclass_fares = pclass_rows["fare"]
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
    
print(fares_by_class)

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}
{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

### Introduction aux pivots de table

In [72]:
# df.pivot_table(index="colonne à grouper", values="colonne sur laquelle on applique la fonction", aggfunc="par défaut mean()")
import numpy
passenger_class_fares = titanic_survival.pivot_table(index="pclass", values="fare", aggfunc=numpy.mean)

In [73]:
print(passenger_class_fares)

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889

In [75]:
passenger_ages = titanic_survival.pivot_table(index="pclass", values="age")
print(passenger_ages)

              age
pclass
1.0     39.159918
2.0     29.506705
3.0     24.816367

In [78]:
passenger_survival = titanic_survival.pivot_table(index="pclass", values="survived")
print(passenger_survival)

        survived
pclass
1.0     0.619195
2.0     0.429603
3.0     0.255289

### Tables Pivot Niveau 2

In [79]:
port_stats = titanic_survival.pivot_table(index="embarked", values=["fare", "survived"], aggfunc=numpy.sum)
print(port_stats)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

### Eliminer les valeurs manquantes d'une matrice

In [80]:
# dataframe.dropna(axis=0 ou 'index'|1 ou 'column', how="any"|"all", subset=["nom colonnes"...])
# index => vire la ligne contenant les valeurs manquantes, défaut
# column => vire la colonne contenant les valeurs manquantes
# how="any" => vire la ligne/colonne s'il y a une valeur manquante
# how="all" => vire la ligne/colonne si toutes les valeurs sont manquantes
drop_na_rows = titanic_survival.dropna(axis=0)
drop_na_cols = titanic_survival.dropna(axis=1)

In [81]:
drop_na_cols

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
drop_na_rows = titanic_survival.dropna(axis=0, subset=["name"])
drop_na_rows

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3.0,0.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0.0,0.0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [83]:
new_titanic_survival = titanic_survival.dropna(axis=0, subset=["age", "sex"])
print(f"le nombre de dimensions de titanic_survivor est {titanic_survival.shape}")
print(f"le nombre de dimensions de new_titanic_survivor est {new_titanic_survival.shape}")

le nombre de dimensions de titanic_survivor est (1310, 14)
le nombre de dimensions de new_titanic_survivor est (1046, 14)

### Iloc pour accéder à des lignes

In [84]:
# dataframe.loc[] ne convient pas sur des dataframes dont on a modifié la poition/classement 
# car loc se base sur un intitulé de colonne/ligne, alors qu'iloc se base sur la position
first_ten_rows = new_titanic_survival.iloc[:10]
row_position_fifth = new_titanic_survival.iloc[4]
row_index_25 = new_titanic_survival.loc[25]

In [85]:
first_ten_rows

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

In [86]:
row_position_fifth

pclass                                                     1
survived                                                   0
name         Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
sex                                                   female
age                                                       25
sibsp                                                      1
parch                                                      2
ticket                                                113781
fare                                                  151.55
cabin                                                C22 C26
embarked                                                   S
boat                                                     NaN
body                                                     NaN
home.dest                    Montreal, PQ / Chesterville, ON
Name: 4, dtype: object

In [87]:
row_index_25

pclass                         1
survived                       0
name         Birnbaum, Mr. Jakob
sex                         male
age                           25
sibsp                          0
parch                          0
ticket                     13905
fare                          26
cabin                        NaN
embarked                       C
boat                         NaN
body                         148
home.dest      San Francisco, CA
Name: 25, dtype: object

### Les index de colonne

In [89]:
new_titanic_survival.iloc[0,2]

'Allen, Miss. Elisabeth Walton'

In [90]:
new_titanic_survival.iloc[:,:3] # les 3 premières colonnes

      pclass  survived                                               name
0        1.0       1.0                      Allen, Miss. Elisabeth Walton
1        1.0       1.0                     Allison, Master. Hudson Trevor
2        1.0       0.0                       Allison, Miss. Helen Loraine
3        1.0       0.0               Allison, Mr. Hudson Joshua Creighton
4        1.0       0.0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5        1.0       1.0                                Anderson, Mr. Harry
6        1.0       1.0                  Andrews, Miss. Kornelia Theodosia
7        1.0       0.0                             Andrews, Mr. Thomas Jr
8        1.0       1.0      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9        1.0       0.0                            Artagaveytia, Mr. Ramon
10       1.0       0.0                             Astor, Col. John Jacob
11       1.0       1.0  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12       1.0       1.0                      Aubart, Mme. Leontine Pauline
13       1.0       1.0                       Barber, Miss. Ellen "Nellie"
14       1.0       1.0               Barkworth, Mr. Algernon Henry Wilson
16       1.0       0.0                           Baxter, Mr. Quigg Edmond
17       1.0       1.0    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18       1.0       1.0                              Bazzani, Miss. Albina
19       1.0       0.0                               Beattie, Mr. Thomson
20       1.0       1.0                      Beckwith, Mr. Richard Leonard
21       1.0       1.0   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22       1.0       1.0                              Behr, Mr. Karl Howell
23       1.0       1.0                              Bidois, Miss. Rosalie
24       1.0       1.0                                  Bird, Miss. Ellen
25       1.0       0.0                                Birnbaum, Mr. Jakob
26       1.0       1.0                            Bishop, Mr. Dickinson H
27       1.0       1.0            Bishop, Mrs. Dickinson H (Helen Walton)
28       1.0       1.0                             Bissette, Miss. Amelia
29       1.0       1.0          Bjornstrom-Steffansson, Mr. Mauritz Hakan
30       1.0       0.0                       Blackwell, Mr. Stephen Weart
...      ...       ...                                                ...
1269     3.0       0.0                   Vande Velde, Mr. Johannes Joseph
1270     3.0       0.0                     Vande Walle, Mr. Nestor Cyriel
1271     3.0       0.0                        Vanden Steen, Mr. Leo Peter
1272     3.0       0.0                        Vander Cruyssen, Mr. Victor
1273     3.0       0.0                 Vander Planke, Miss. Augusta Maria
1274     3.0       0.0                          Vander Planke, Mr. Julius
1275     3.0       0.0                    Vander Planke, Mr. Leo Edmondus
1276     3.0       0.0  Vander Planke, Mrs. Julius (Emelia Maria Vande...
1277     3.0       1.0                               Vartanian, Mr. David
1278     3.0       0.0                             Vendel, Mr. Olof Edvin
1279     3.0       0.0               Vestrom, Miss. Hulda Amanda Adolfina
1280     3.0       0.0                                    Vovk, Mr. Janko
1281     3.0       0.0                               Waelens, Mr. Achille
1285     3.0       0.0                                Wenzel, Mr. Linhart
1286     3.0       1.0    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287     3.0       0.0                   Widegren, Mr. Carl/Charles Peter
1288     3.0       0.0                          Wiklund, Mr. Jakob Alfred
1289     3.0       0.0                            Wiklund, Mr. Karl Johan
1290     3.0       1.0                   Wilkes, Mrs. James (Ellen Needs)
1294     3.0       0.0                               Williams, Mr. Leslie
1295     3.0       0.0                                Windelov, Mr. Einar
1296     3.0       0.0                                   Wirz, Mr. Albert
1298     3.0       0.0                          Wittevrongel, Mr. Camille
1299     3.0       0.0                                Yasbeck, Mr. Antoni
1300     3.0       1.0            Yasbeck, Mrs. Antoni (Selini Alexander)
1301     3.0       0.0                               Youseff, Mr. Gerious
1304     3.0       0.0                               Zabour, Miss. Hileni
1306     3.0       0.0                          Zakarian, Mr. Mapriededer
1307     3.0       0.0                                Zakarian, Mr. Ortin
1308     3.0       0.0                                 Zimmerman, Mr. Leo

[1046 rows x 3 columns]

In [91]:
new_titanic_survival.loc[766, "age"]

25.0

In [92]:
row_index_1100_age = new_titanic_survival.loc[1100, "age"]
row_index_25_survived = new_titanic_survival.loc[25, "survived"]
five_rows_three_cols = new_titanic_survival.iloc[:5,:3]
print(row_index_1100_age)
print(row_index_25_survived)
print(five_rows_three_cols)

29.0
0.0
   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)