## Analyse de données avec Numpy

### Objectif : déterminer le pays consommant le plus d'alcool par habitant

In [2]:
import numpy as np

world_alcohol = np.genfromtxt("world-alcohol.csv", delimiter=",", dtype="U75", skip_header=1)
world_alcohol

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

### Effectuer des comparaisons

In [3]:
vector = np.array([5, 10, 15, 20])

In [4]:
vector == 10

array([False,  True, False, False])

In [5]:
matrix = np.array([[2, 5, 15], [20, 50, 30], [34, 99, 45]])

In [7]:
matrix == 20

array([[False, False, False],
       [ True, False, False],
       [False, False, False]])

In [8]:
countries_canada = "Canada" == world_alcohol[:,2:3]
countries_canada

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [9]:
years_1984 = "1984" == world_alcohol[:,:1]
years_1984

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [11]:
rows = 0
for item in years_1984:
    rows += 1
    if item[0] == True:
        print(f"1984 trouvé à la ligne {rows}")

trouvé à la ligne 10
trouvé à la ligne 14
trouvé à la ligne 17
trouvé à la ligne 19
trouvé à la ligne 20
trouvé à la ligne 23
trouvé à la ligne 24
trouvé à la ligne 26
trouvé à la ligne 28
trouvé à la ligne 43
trouvé à la ligne 44
trouvé à la ligne 54
trouvé à la ligne 55
trouvé à la ligne 59
trouvé à la ligne 62
trouvé à la ligne 96
trouvé à la ligne 98
trouvé à la ligne 99
trouvé à la ligne 110
trouvé à la ligne 118
trouvé à la ligne 128
trouvé à la ligne 129
trouvé à la ligne 133
trouvé à la ligne 136
trouvé à la ligne 147
trouvé à la ligne 161
trouvé à la ligne 164
trouvé à la ligne 166
trouvé à la ligne 173
trouvé à la ligne 175
trouvé à la ligne 179
trouvé à la ligne 182
trouvé à la ligne 206
trouvé à la ligne 215
trouvé à la ligne 223
trouvé à la ligne 241
trouvé à la ligne 246
trouvé à la ligne 254
trouvé à la ligne 261
trouvé à la ligne 263
trouvé à la ligne 268
trouvé à la ligne 270
trouvé à la ligne 277
trouvé à la ligne 278
trouvé à la ligne 284
trouvé à la ligne 297
trouvé à la ligne 301
trouvé à la ligne 303
trouvé à la ligne 306
trouvé à la ligne 308
trouvé à la ligne 309
trouvé à la ligne 311
trouvé à la ligne 313
trouvé à la ligne 314
trouvé à la ligne 317
trouvé à la ligne 327
trouvé à la ligne 353
trouvé à la ligne 357
trouvé à la ligne 360
trouvé à la ligne 362
trouvé à la ligne 366
trouvé à la ligne 368
trouvé à la ligne 373
trouvé à la ligne 376
trouvé à la ligne 382
trouvé à la ligne 387
trouvé à la ligne 388
trouvé à la ligne 389
trouvé à la ligne 390
trouvé à la ligne 393
trouvé à la ligne 401
trouvé à la ligne 408
trouvé à la ligne 414
trouvé à la ligne 427
trouvé à la ligne 435
trouvé à la ligne 445
trouvé à la ligne 446
trouvé à la ligne 458
trouvé à la ligne 461
trouvé à la ligne 462
trouvé à la ligne 464
trouvé à la ligne 467
trouvé à la ligne 468
trouvé à la ligne 476
trouvé à la ligne 484
trouvé à la ligne 485
trouvé à la ligne 489
trouvé à la ligne 490
trouvé à la ligne 491
trouvé à la ligne 497
trouvé à la ligne 505
trouvé à la ligne 519
trouvé à la ligne 522
trouvé à la ligne 532
trouvé à la ligne 534
trouvé à la ligne 535
trouvé à la ligne 540
trouvé à la ligne 554
trouvé à la ligne 563
trouvé à la ligne 565
trouvé à la ligne 571
trouvé à la ligne 573
trouvé à la ligne 589
trouvé à la ligne 610
trouvé à la ligne 617
trouvé à la ligne 618
trouvé à la ligne 620
trouvé à la ligne 622
trouvé à la ligne 623
trouvé à la ligne 634
trouvé à la ligne 640
trouvé à la ligne 643
trouvé à la ligne 646
trouvé à la ligne 654
trouvé à la ligne 655
trouvé à la ligne 657
trouvé à la ligne 658
trouvé à la ligne 669
trouvé à la ligne 676
trouvé à la ligne 680
trouvé à la ligne 685
trouvé à la ligne 691
trouvé à la ligne 692
trouvé à la ligne 693
trouvé à la ligne 697
trouvé à la ligne 699
trouvé à la ligne 700
trouvé à la ligne 704
trouvé à la ligne 711
trouvé à la ligne 714
trouvé à la ligne 716
trouvé à la ligne 717
trouvé à la ligne 725
trouvé à la ligne 726
trouvé à la ligne 737
trouvé à la ligne 738
trouvé à la ligne 743
trouvé à la ligne 746
trouvé à la ligne 748
trouvé à la ligne 761
trouvé à la ligne 762
trouvé à la ligne 766
trouvé à la ligne 769
trouvé à la ligne 770
trouvé à la ligne 772
trouvé à la ligne 773
trouvé à la ligne 774
trouvé à la ligne 775
trouvé à la ligne 777
trouvé à la ligne 780
trouvé à la ligne 786
trouvé à la ligne 795
trouvé à la ligne 802
trouvé à la ligne 810
trouvé à la ligne 811
trouvé à la ligne 826
trouvé à la ligne 839
trouvé à la ligne 842
trouvé à la ligne 844
trouvé à la ligne 846
trouvé à la ligne 848
trouvé à la ligne 849
trouvé à la ligne 852
trouvé à la ligne 859
trouvé à la ligne 860
trouvé à la ligne 867
trouvé à la ligne 881
trouvé à la ligne 882
trouvé à la ligne 883
trouvé à la ligne 886
trouvé à la ligne 887
trouvé à la ligne 889
trouvé à la ligne 902
trouvé à la ligne 905
trouvé à la ligne 917
trouvé à la ligne 919
trouvé à la ligne 921
trouvé à la ligne 924
trouvé à la ligne 925
trouvé à la ligne 930
trouvé à la ligne 933
trouvé à la ligne 934
trouvé à la ligne 935
trouvé à la ligne 936
trouvé à la ligne 946
trouvé à la ligne 950
trouvé à la ligne 951
trouvé à la ligne 953
trouvé à la ligne 955
trouvé à la ligne 958
trouvé à la ligne 960
trouvé à la ligne 970
trouvé à la ligne 976
trouvé à la ligne 977
trouvé à la ligne 983
trouvé à la ligne 985
trouvé à la ligne 1008
trouvé à la ligne 1015
trouvé à la ligne 1019
trouvé à la ligne 1027
trouvé à la ligne 1029
trouvé à la ligne 1031
trouvé à la ligne 1032
trouvé à la ligne 1040
trouvé à la ligne 1053
trouvé à la ligne 1060
trouvé à la ligne 1061
trouvé à la ligne 1078
trouvé à la ligne 1081
trouvé à la ligne 1089
trouvé à la ligne 1090
trouvé à la ligne 1091
trouvé à la ligne 1094
trouvé à la ligne 1098
trouvé à la ligne 1107
trouvé à la ligne 1108
trouvé à la ligne 1124
trouvé à la ligne 1126
trouvé à la ligne 1143
trouvé à la ligne 1144
trouvé à la ligne 1154
trouvé à la ligne 1160
trouvé à la ligne 1163
trouvé à la ligne 1164
trouvé à la ligne 1168
trouvé à la ligne 1170
trouvé à la ligne 1173
trouvé à la ligne 1178
trouvé à la ligne 1183
trouvé à la ligne 1198
trouvé à la ligne 1208
trouvé à la ligne 1209
trouvé à la ligne 1228
trouvé à la ligne 1231
trouvé à la ligne 1232
trouvé à la ligne 1237
trouvé à la ligne 1241
trouvé à la ligne 1249
trouvé à la ligne 1250
trouvé à la ligne 1251
trouvé à la ligne 1255
trouvé à la ligne 1258
trouvé à la ligne 1262
trouvé à la ligne 1263
trouvé à la ligne 1266
trouvé à la ligne 1271
trouvé à la ligne 1274
trouvé à la ligne 1279
trouvé à la ligne 1286
trouvé à la ligne 1299
trouvé à la ligne 1301
trouvé à la ligne 1305
trouvé à la ligne 1306
trouvé à la ligne 1310
trouvé à la ligne 1314
trouvé à la ligne 1322
trouvé à la ligne 1329
trouvé à la ligne 1337
trouvé à la ligne 1338
trouvé à la ligne 1359
trouvé à la ligne 1360
trouvé à la ligne 1363
trouvé à la ligne 1372
trouvé à la ligne 1373
trouvé à la ligne 1378
trouvé à la ligne 1388
trouvé à la ligne 1395
trouvé à la ligne 1396
trouvé à la ligne 1400
trouvé à la ligne 1401
trouvé à la ligne 1410
trouvé à la ligne 1411
trouvé à la ligne 1412
trouvé à la ligne 1415
trouvé à la ligne 1428
trouvé à la ligne 1434
trouvé à la ligne 1443
trouvé à la ligne 1449
trouvé à la ligne 1453
trouvé à la ligne 1457
trouvé à la ligne 1464
trouvé à la ligne 1466
trouvé à la ligne 1467
trouvé à la ligne 1473
trouvé à la ligne 1481
trouvé à la ligne 1485
trouvé à la ligne 1488
trouvé à la ligne 1493
trouvé à la ligne 1496
trouvé à la ligne 1503
trouvé à la ligne 1505
trouvé à la ligne 1507
trouvé à la ligne 1519
trouvé à la ligne 1520
trouvé à la ligne 1521
trouvé à la ligne 1522
trouvé à la ligne 1534
trouvé à la ligne 1536
trouvé à la ligne 1541
trouvé à la ligne 1542
trouvé à la ligne 1557
trouvé à la ligne 1559
trouvé à la ligne 1560
trouvé à la ligne 1575
trouvé à la ligne 1576
trouvé à la ligne 1581
trouvé à la ligne 1582
trouvé à la ligne 1595
trouvé à la ligne 1601
trouvé à la ligne 1602
trouvé à la ligne 1611
trouvé à la ligne 1614
trouvé à la ligne 1615
trouvé à la ligne 1624
trouvé à la ligne 1645
trouvé à la ligne 1661
trouvé à la ligne 1664
trouvé à la ligne 1670
trouvé à la ligne 1671
trouvé à la ligne 1687
trouvé à la ligne 1696
trouvé à la ligne 1699
trouvé à la ligne 1702
trouvé à la ligne 1706
trouvé à la ligne 1712
trouvé à la ligne 1719
trouvé à la ligne 1721
trouvé à la ligne 1722
trouvé à la ligne 1724
trouvé à la ligne 1725
trouvé à la ligne 1726
trouvé à la ligne 1727
trouvé à la ligne 1731
trouvé à la ligne 1734
trouvé à la ligne 1736
trouvé à la ligne 1742
trouvé à la ligne 1747
trouvé à la ligne 1753
trouvé à la ligne 1755
trouvé à la ligne 1761
trouvé à la ligne 1762
trouvé à la ligne 1766
trouvé à la ligne 1767
trouvé à la ligne 1770
trouvé à la ligne 1772
trouvé à la ligne 1774
trouvé à la ligne 1781
trouvé à la ligne 1787
trouvé à la ligne 1794
trouvé à la ligne 1795
trouvé à la ligne 1796
trouvé à la ligne 1797
trouvé à la ligne 1798
trouvé à la ligne 1799
trouvé à la ligne 1801
trouvé à la ligne 1803
trouvé à la ligne 1806
trouvé à la ligne 1809
trouvé à la ligne 1824
trouvé à la ligne 1829
trouvé à la ligne 1834
trouvé à la ligne 1848
trouvé à la ligne 1849
trouvé à la ligne 1861
trouvé à la ligne 1862
trouvé à la ligne 1863
trouvé à la ligne 1867
trouvé à la ligne 1871
trouvé à la ligne 1884
trouvé à la ligne 1885
trouvé à la ligne 1887
trouvé à la ligne 1915
trouvé à la ligne 1916
trouvé à la ligne 1921
trouvé à la ligne 1928
trouvé à la ligne 1937
trouvé à la ligne 1944
trouvé à la ligne 1945
trouvé à la ligne 1951
trouvé à la ligne 1953
trouvé à la ligne 1954
trouvé à la ligne 1965
trouvé à la ligne 1967
trouvé à la ligne 1968
trouvé à la ligne 1969
trouvé à la ligne 1971
trouvé à la ligne 1975
trouvé à la ligne 1979
trouvé à la ligne 1981
trouvé à la ligne 1984
trouvé à la ligne 1992
trouvé à la ligne 1993
trouvé à la ligne 1996
trouvé à la ligne 2008
trouvé à la ligne 2013
trouvé à la ligne 2024
trouvé à la ligne 2028
trouvé à la ligne 2030
trouvé à la ligne 2036
trouvé à la ligne 2038
trouvé à la ligne 2039
trouvé à la ligne 2051
trouvé à la ligne 2066
trouvé à la ligne 2077
trouvé à la ligne 2080
trouvé à la ligne 2095
trouvé à la ligne 2104
trouvé à la ligne 2108
trouvé à la ligne 2123
trouvé à la ligne 2126
trouvé à la ligne 2129
trouvé à la ligne 2142
trouvé à la ligne 2146
trouvé à la ligne 2147
trouvé à la ligne 2151
trouvé à la ligne 2160
trouvé à la ligne 2167
trouvé à la ligne 2171
trouvé à la ligne 2174
trouvé à la ligne 2178
trouvé à la ligne 2184
trouvé à la ligne 2187
trouvé à la ligne 2195
trouvé à la ligne 2196
trouvé à la ligne 2205
trouvé à la ligne 2222
trouvé à la ligne 2237
trouvé à la ligne 2244
trouvé à la ligne 2245
trouvé à la ligne 2250
trouvé à la ligne 2254
trouvé à la ligne 2255
trouvé à la ligne 2271
trouvé à la ligne 2285
trouvé à la ligne 2287
trouvé à la ligne 2288
trouvé à la ligne 2293
trouvé à la ligne 2294
trouvé à la ligne 2309
trouvé à la ligne 2312
trouvé à la ligne 2314
trouvé à la ligne 2328
trouvé à la ligne 2330
trouvé à la ligne 2331
trouvé à la ligne 2342
trouvé à la ligne 2345
trouvé à la ligne 2346
trouvé à la ligne 2348
trouvé à la ligne 2350
trouvé à la ligne 2359
trouvé à la ligne 2362
trouvé à la ligne 2363
trouvé à la ligne 2365
trouvé à la ligne 2372
trouvé à la ligne 2386
trouvé à la ligne 2391
trouvé à la ligne 2402
trouvé à la ligne 2404
trouvé à la ligne 2408
trouvé à la ligne 2409
trouvé à la ligne 2411
trouvé à la ligne 2425
trouvé à la ligne 2431
trouvé à la ligne 2439
trouvé à la ligne 2443
trouvé à la ligne 2444
trouvé à la ligne 2447
trouvé à la ligne 2456
trouvé à la ligne 2457
trouvé à la ligne 2463
trouvé à la ligne 2472
trouvé à la ligne 2473
trouvé à la ligne 2475
trouvé à la ligne 2476
trouvé à la ligne 2489
trouvé à la ligne 2490
trouvé à la ligne 2492
trouvé à la ligne 2497
trouvé à la ligne 2498
trouvé à la ligne 2499
trouvé à la ligne 2505
trouvé à la ligne 2507
trouvé à la ligne 2517
trouvé à la ligne 2524
trouvé à la ligne 2525
trouvé à la ligne 2527
trouvé à la ligne 2535
trouvé à la ligne 2539
trouvé à la ligne 2549
trouvé à la ligne 2556
trouvé à la ligne 2558
trouvé à la ligne 2560
trouvé à la ligne 2561
trouvé à la ligne 2572
trouvé à la ligne 2573
trouvé à la ligne 2577
trouvé à la ligne 2579
trouvé à la ligne 2583
trouvé à la ligne 2584
trouvé à la ligne 2585
trouvé à la ligne 2587
trouvé à la ligne 2596
trouvé à la ligne 2600
trouvé à la ligne 2606
trouvé à la ligne 2609
trouvé à la ligne 2611
trouvé à la ligne 2612
trouvé à la ligne 2621
trouvé à la ligne 2626
trouvé à la ligne 2630
trouvé à la ligne 2636
trouvé à la ligne 2642
trouvé à la ligne 2652
trouvé à la ligne 2654
trouvé à la ligne 2658
trouvé à la ligne 2666
trouvé à la ligne 2667
trouvé à la ligne 2668
trouvé à la ligne 2682
trouvé à la ligne 2686
trouvé à la ligne 2692
trouvé à la ligne 2701
trouvé à la ligne 2702
trouvé à la ligne 2705
trouvé à la ligne 2710
trouvé à la ligne 2716
trouvé à la ligne 2717
trouvé à la ligne 2724
trouvé à la ligne 2725
trouvé à la ligne 2726
trouvé à la ligne 2727
trouvé à la ligne 2733
trouvé à la ligne 2736
trouvé à la ligne 2745
trouvé à la ligne 2746
trouvé à la ligne 2750
trouvé à la ligne 2752
trouvé à la ligne 2763
trouvé à la ligne 2764
trouvé à la ligne 2765
trouvé à la ligne 2766
trouvé à la ligne 2769
trouvé à la ligne 2770
trouvé à la ligne 2771
trouvé à la ligne 2779
trouvé à la ligne 2787
trouvé à la ligne 2789
trouvé à la ligne 2793
trouvé à la ligne 2794
trouvé à la ligne 2796
trouvé à la ligne 2802
trouvé à la ligne 2803
trouvé à la ligne 2806
trouvé à la ligne 2824
trouvé à la ligne 2829
trouvé à la ligne 2830
trouvé à la ligne 2831
trouvé à la ligne 2838
trouvé à la ligne 2839
trouvé à la ligne 2840
trouvé à la ligne 2845
trouvé à la ligne 2849
trouvé à la ligne 2853
trouvé à la ligne 2862
trouvé à la ligne 2863
trouvé à la ligne 2864
trouvé à la ligne 2866
trouvé à la ligne 2870
trouvé à la ligne 2872
trouvé à la ligne 2874
trouvé à la ligne 2879
trouvé à la ligne 2886
trouvé à la ligne 2891
trouvé à la ligne 2899
trouvé à la ligne 2911
trouvé à la ligne 2915
trouvé à la ligne 2918
trouvé à la ligne 2920
trouvé à la ligne 2921
trouvé à la ligne 2927
trouvé à la ligne 2935
trouvé à la ligne 2960
trouvé à la ligne 2961
trouvé à la ligne 2968
trouvé à la ligne 2970
trouvé à la ligne 2971
trouvé à la ligne 2976
trouvé à la ligne 2986
trouvé à la ligne 2993
trouvé à la ligne 2997
trouvé à la ligne 3000
trouvé à la ligne 3002
trouvé à la ligne 3013
trouvé à la ligne 3019
trouvé à la ligne 3026
trouvé à la ligne 3032
trouvé à la ligne 3034
trouvé à la ligne 3040
trouvé à la ligne 3042
trouvé à la ligne 3046
trouvé à la ligne 3047
trouvé à la ligne 3052
trouvé à la ligne 3057
trouvé à la ligne 3061
trouvé à la ligne 3069
trouvé à la ligne 3072
trouvé à la ligne 3077
trouvé à la ligne 3080
trouvé à la ligne 3084
trouvé à la ligne 3085
trouvé à la ligne 3091
trouvé à la ligne 3096
trouvé à la ligne 3100
trouvé à la ligne 3102
trouvé à la ligne 3108
trouvé à la ligne 3113
trouvé à la ligne 3118
trouvé à la ligne 3133
trouvé à la ligne 3136
trouvé à la ligne 3141
trouvé à la ligne 3144
trouvé à la ligne 3150
trouvé à la ligne 3151
trouvé à la ligne 3153
trouvé à la ligne 3156
trouvé à la ligne 3163
trouvé à la ligne 3174
trouvé à la ligne 3176
trouvé à la ligne 3183
trouvé à la ligne 3186
trouvé à la ligne 3190
trouvé à la ligne 3195
trouvé à la ligne 3199
trouvé à la ligne 3203
trouvé à la ligne 3208
trouvé à la ligne 3214
trouvé à la ligne 3216
trouvé à la ligne 3223
trouvé à la ligne 3224
trouvé à la ligne 3234
trouvé à la ligne 3235
trouvé à la ligne 3239
trouvé à la ligne 3242
trouvé à la ligne 3248
trouvé à la ligne 3252
trouvé à la ligne 3253

In [13]:
print(world_alcohol[9:20,:])

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1987' 'Africa' 'Botswana' 'Wine' '0.2']
 ['1989' 'Americas' 'Guatemala' 'Beer' '0.62']
 ['1985' 'Western Pacific' "Lao People's Democratic Republic" 'Beer' '0']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1985' 'Western Pacific' 'Viet Nam' 'Spirits' '0.05']
 ['1987' 'Africa' 'Guinea-Bissau' 'Wine' '0.07']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ['1989' 'Africa' 'Seychelles' 'Beer' '2.23']
 ['1984' 'Europe' 'Norway' 'Spirits' '1.62']
 ['1984' 'Africa' 'Kenya' 'Beer' '1.08']]

In [14]:
rows = 0
for item in countries_canada:
    rows += 1
    if item[0] == True:
        print(f"Canada trouvé à la ligne {rows}")

Canada trouvé à la ligne 147
Canada trouvé à la ligne 275
Canada trouvé à la ligne 353
Canada trouvé à la ligne 548
Canada trouvé à la ligne 572
Canada trouvé à la ligne 1153
Canada trouvé à la ligne 1270
Canada trouvé à la ligne 1626
Canada trouvé à la ligne 1708
Canada trouvé à la ligne 2060
Canada trouvé à la ligne 2091
Canada trouvé à la ligne 2309
Canada trouvé à la ligne 2541
Canada trouvé à la ligne 3069
Canada trouvé à la ligne 3070
Canada trouvé à la ligne 3090
Canada trouvé à la ligne 3140
Canada trouvé à la ligne 3154
Canada trouvé à la ligne 3212
Canada trouvé à la ligne 3238

In [15]:
print(world_alcohol[3139:3155,:])

[['1989' 'Americas' 'Canada' 'Beer' '4.82']
 ['1984' 'Europe' 'Finland' 'Spirits' '1.79']
 ['1989' 'Africa' 'Congo' 'Beer' '1.91']
 ['1985' 'Europe' 'Denmark' 'Spirits' '1.97']
 ['1984' 'Africa' 'Togo' 'Spirits' '0.58']
 ['1986' 'Europe' 'Spain' 'Spirits' '3.73']
 ['1985' 'Europe' 'Finland' 'Beer' '3.48']
 ['1985' 'Americas' 'Saint Lucia' 'Wine' '0.46']
 ['1987' 'Africa' 'Sierra Leone' 'Beer' '0.13']
 ['1986' 'Americas' 'Haiti' 'Wine' '0.01']
 ['1984' 'Western Pacific' 'Mongolia' 'Spirits' '3.24']
 ['1984' 'Eastern Mediterranean' 'Tunisia' 'Spirits' '0.1']
 ['1987' 'Americas' 'Guyana' 'Spirits' '6.67']
 ['1984' 'Eastern Mediterranean' 'Pakistan' 'Other' '0.01']
 ['1989' 'Americas' 'Canada' 'Other' '']
 ['1985' 'Western Pacific' 'Australia' 'Spirits' '1.7']]

### Sélectionner des éléments

In [16]:
equal_to_ten = (vector == 10)
print(vector[equal_to_ten])

[10]

In [17]:
print(equal_to_ten)

[False  True False False]

In [23]:
matrix

array([[ 2,  5, 15],
       [20, 50, 30],
       [34, 99, 45]])

In [25]:
second_column_5 = (matrix[:,1] == 5)
print(matrix[second_column_5, :])

[[ 2  5 15]]

In [27]:
country_is_algeria = ("Algeria" == world_alcohol[:,2])
# print(country_is_algeria)
country_algeria = world_alcohol[country_is_algeria]
print(country_algeria)

[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']]

In [28]:
years_is_1984 = (world_alcohol[:,0] == '1984')

In [29]:
years_1984 = world_alcohol[years_is_1984]
print(years_1984)

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ...
 ['1984' 'Europe' 'Latvia' 'Spirits' '7.5']
 ['1984' 'Africa' 'Angola' 'Wine' '0.57']
 ['1984' 'Africa' 'Central African Republic' 'Wine' '0.46']]

### Effectuer des comparaisons avec plusieurs conditions

In [30]:
vector

array([ 5, 10, 15, 20])

In [31]:
equal_to_ten_and_five = (vector == 10) & (vector == 5)
print(equal_to_ten_and_five)

[False False False False]

In [32]:
equal_to_ten_or_five = (vector == 10) | (vector == 5)
print(equal_to_ten_or_five)

[ True  True False False]

In [33]:
# Sélectionner les lignes dont le pays est "Algeria" et l'année "1986"
is_algeria_and_1986 = (world_alcohol[:,0] == '1986') & (world_alcohol[:,2] == 'Algeria')
rows_with_algeria_and_1986 = world_alcohol[is_algeria_and_1986]
print(rows_with_algeria_and_1986)

[['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1986' 'Africa' 'Algeria' 'Other' '0']]

### Remplacer des valeurs dans un tableau Numpy

In [34]:
vector

array([ 5, 10, 15, 20])

In [35]:
equal_to_ten_or_five = (vector == 10) | (vector == 5)
print(equal_to_ten_or_five)

[ True  True False False]

In [36]:
vector[equal_to_ten_or_five] = 50
vector

array([50, 50, 15, 20])

In [37]:
matrix

array([[ 2,  5, 15],
       [20, 50, 30],
       [34, 99, 45]])

In [39]:
second_column_5 = matrix[:,1] == 5
print(second_column_5)

[ True False False]

In [40]:
matrix[second_column_5, 1] = 25
print(matrix)

[[ 2 25 15]
 [20 50 30]
 [34 99 45]]

In [70]:
world_alcohol_2 = world_alcohol
is_wine_or_1986 = (world_alcohol_2[:,0] == "1986") | (world_alcohol_2[:,3] == "Wine")
is_wine = world_alcohol_2[:,3] == "Wine"
is_1986 = (world_alcohol_2[:,0] == "1986")
world_alcohol_2[is_wine, 3] = "Beer"
world_alcohol_2[is_1986, 0] = "2018"
print(world_alcohol_2)

[['2018' 'Western Pacific' 'Viet Nam' 'Beer' '0']
 ['2018' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Beer' '1.62']
 ...
 ['2018' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' 'Africa' 'Swaziland' 'Other' '5.15']]

### Remplacer les chaînes de caractères vides dans un tableau Numpy

In [42]:
is_value_empty = world_alcohol[:,4] == ''
world_alcohol[is_value_empty, 4] = '0'
print(world_alcohol)

[['2018' 'Western Pacific' 'Viet Nam' 'Beer' '0']
 ['2018' 'Americas' 'Uruguay' 'Other' '0.5']
 ['1985' 'Africa' "Cte d'Ivoire" 'Beer' '1.62']
 ...
 ['2018' 'Europe' 'Switzerland' 'Spirits' '2.54']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' 'Africa' 'Swaziland' 'Other' '5.15']]

### Convertir des types de données

In [43]:
# astype()

In [45]:
vector_str = np.array(["1", "2", "3"])
vector_float = vector_str.astype(float)

In [46]:
vector_float

array([1., 2., 3.])

In [47]:
vector_str

array(['1', '2', '3'], dtype='<U1')

In [62]:
# extraire la cinquième colonne et l'assigner à alcohol_consumption
# utiliser la méthode astype() pour convertir alcohol_consumption en décimal (float)
alcohol_consumption = world_alcohol[:,4]
print(alcohol_consumption)
alcohol_consumption = alcohol_consumption.astype(float)
print(alcohol_consumption)

['0' '0.5' '1.62' ... '2.54' '0' '5.15']
[0.   0.5  1.62 ... 2.54 0.   5.15]

### Réaliser des calculs mathématiques avec Numpy

In [50]:
# sum()
# mean() => moyenne
# max()

In [51]:
vector

array([50, 50, 15, 20])

In [52]:
vector.sum()

135

In [53]:
vector.mean()

33.75

In [54]:
vector.max()

50

In [55]:
matrix

array([[ 2, 25, 15],
       [20, 50, 30],
       [34, 99, 45]])

In [56]:
matrix.sum(axis=1) # somme sur les lignes

array([ 42, 100, 178])

In [57]:
matrix.sum(axis=0)  # somme sur les colonnes

array([ 56, 174,  90])

In [63]:
total_alcohol = alcohol_consumption.sum()
average_alcohol = alcohol_consumption.mean()
print(f"la consommation totale d'alcool est {total_alcohol} litres par an\nLa moyenne est {average_alcohol} l/an")

la consommation totale d'alcool est 3908.96 litres par an
La moyenne est 1.2001719373656738 l/an

### Calculer la consommation totale annuelle pour un pays donné

In [73]:
world_alcohol = np.genfromtxt("world-alcohol.csv", delimiter=',', dtype="U75", skip_header=1)
is_canada_1986 = (world_alcohol[:,2] == "Canada") & (world_alcohol[:,0] == "1986")
print(is_canada_1986)
canada_1986 = world_alcohol[is_canada_1986]
print(canada_1986)

[False False False ... False False False]
[['1986' 'Americas' 'Canada' 'Other' '']
 ['1986' 'Americas' 'Canada' 'Spirits' '3.11']
 ['1986' 'Americas' 'Canada' 'Beer' '4.87']
 ['1986' 'Americas' 'Canada' 'Wine' '1.33']]

In [75]:
canada_1986[canada_1986[:,4] == ''] = '0'
canada_alcohol = canada_1986[:,4].astype(float)
print(canada_alcohol)
total_canadian_drinking = canada_alcohol.sum()
print(f"la consommation annuelle d'alcool au Canada par habitant est de {total_canadian_drinking} litres")

[0.   3.11 4.87 1.33]
la consommation annuelle d'alcool au Canada par habitant est de 9.31 litres

### Calculer la consommation totale annuelle pour chaque pays

In [80]:
totals = {}
year = world_alcohol[world_alcohol[:,0] == "1989"]
print(year)
countries = world_alcohol[:, 2]
print(countries)
for country in countries:
    country_consumption = year[year[:,2] == country]
    country_consumption[country_consumption[:,4] == ''] = '0'
    country_consumption = country_consumption[:, 4].astype(float).sum()
    totals[country] = country_consumption
    
print(totals)

[['1989' 'Americas' 'Guatemala' 'Beer' '0.62']
 ['1989' 'Africa' 'Seychelles' 'Beer' '2.23']
 ['1989' 'Americas' 'Costa Rica' 'Spirits' '4.51']
 ...
 ['1989' 'Eastern Mediterranean' 'Morocco' 'Spirits' '0.07']
 ['1989' 'Europe' 'Poland' 'Beer' '2.03']
 ['1989' 'Europe' 'Turkey' 'Other' '0']]
['Viet Nam' 'Uruguay' "Cte d'Ivoire" ... 'Switzerland' 'Papua New Guinea'
 'Swaziland']
{'Viet Nam': 0.16, 'Uruguay': 7.4399999999999995, "Cte d'Ivoire": 2.2, 'Colombia': 6.960000000000001, 'Saint Kitts and Nevis': 4.65, 'Guatemala': 2.47, 'Mauritius': 3.54, 'Angola': 2.28, 'Antigua and Barbuda': 4.69, 'Nigeria': 6.74, 'Botswana': 4.63, "Lao People's Democratic Republic": 5.95, 'Afghanistan': 0.0, 'Guinea-Bissau': 2.67, 'Costa Rica': 5.3999999999999995, 'Seychelles': 3.3000000000000003, 'Norway': 5.08, 'Kenya': 2.82, 'Myanmar': 0.16, 'Romania': 8.41, 'Turkey': 0.72, 'Comoros': 0.10999999999999999, 'Tunisia': 0.95, 'United Kingdom of Great Britain and Northern Ireland': 9.99, 'Bahrain': 4.89, 'Italy': 10.899999999999999, 'Sierra Leone': 4.380000000000001, 'Micronesia (Federated States of)': 0.0, 'Mauritania': 0.02, 'Russian Federation': 5.35, 'Egypt': 0.42000000000000004, 'Sweden': 7.47, 'Qatar': 1.4500000000000002, 'Burkina Faso': 3.99, 'Austria': 13.9, 'Czech Republic': 13.009999999999998, 'Ukraine': 5.32, 'China': 3.33, 'Lithuania': 0.0, 'Zimbabwe': 4.92, 'Trinidad and Tobago': 4.68, 'Mexico': 5.1, 'Nicaragua': 2.5, 'Malta': 7.13, 'Switzerland': 13.849999999999998, 'Finland': 9.419999999999998, 'Saudi Arabia': 0.15, 'Kuwait': 0.0, 'El Salvador': 1.77, 'Suriname': 3.67, 'Croatia': 10.92, 'Somalia': 0.0, 'Syrian Arab Republic': 0.54, 'Iran (Islamic Republic of)': 0.0, 'Papua New Guinea': 1.1099999999999999, 'Libya': 0.0, 'Bolivia (Plurinational State of)': 3.05, 'Iraq': 0.75, 'Namibia': 0.24, 'Uganda': 7.8, 'Togo': 2.2199999999999998, 'Madagascar': 1.38, 'Mali': 0.6699999999999999, 'Pakistan': 0.02, 'Cameroon': 6.359999999999999, 'Jamaica': 3.03, 'Malawi': 1.02, 'Netherlands': 10.030000000000001, 'Ireland': 11.79, 'Sri Lanka': 0.14, 'Democratic Republic of the Congo': 1.92, 'Bahamas': 12.290000000000001, 'Lebanon': 3.94, 'Bulgaria': 11.43, 'Eritrea': 0.29, 'Niger': 0.11, 'Luxembourg': 15.21, 'Indonesia': 0.07, 'Equatorial Guinea': 6.49, "Democratic People's Republic of Korea": 3.6799999999999997, 'Chile': 8.649999999999999, 'Central African Republic': 2.5199999999999996, 'Spain': 13.280000000000001, 'Gambia': 1.6300000000000001, 'Ghana': 1.8599999999999999, 'Brazil': 5.52, 'Portugal': 15.350000000000001, 'Burundi': 8.159999999999998, 'Belgium': 11.61, 'Paraguay': 6.51, 'Hungary': 16.29, 'Greece': 10.15, 'India': 1.66, 'Kyrgyzstan': 4.279999999999999, 'France': 16.05, 'Zambia': 3.37, 'Israel': 2.0300000000000002, 'Swaziland': 6.68, 'Canada': 9.0, 'Cambodia': 0.33, 'Cabo Verde': 2.79, 'United Arab Emirates': 4.43, 'Peru': 4.99, 'Solomon Islands': 0.5800000000000001, 'United Republic of Tanzania': 5.9, 'Chad': 0.30000000000000004, 'Cuba': 4.37, 'Guyana': 9.940000000000001, 'Mongolia': 2.59, 'Australia': 12.09, 'Sao Tome and Principe': 2.57, 'Slovenia': 12.969999999999999, 'Benin': 1.3800000000000001, 'Algeria': 0.4, 'Venezuela (Bolivarian Republic of)': 7.87, 'Ecuador': 2.54, 'Iceland': 5.359999999999999, 'Liberia': 5.61, 'Yemen': 0.2, 'Sudan': 0.15, 'Belarus': 7.9799999999999995, 'Cyprus': 9.29, 'United States of America': 9.16, 'Vanuatu': 1.74, 'Bangladesh': 0.0, 'Philippines': 3.78, 'Slovakia': 12.700000000000001, 'Poland': 9.33, 'Senegal': 0.6100000000000001, 'Honduras': 2.15, 'Bhutan': 0.31, 'Fiji': 1.9600000000000002, 'Belize': 0.0, 'Lesotho': 2.02, 'Singapore': 1.61, 'Guinea': 0.21, 'Brunei Darussalam': 2.7800000000000002, 'Congo': 3.1500000000000004, 'Thailand': 3.92, 'Djibouti': 0.87, 'Gabon': 9.34, 'Dominican Republic': 4.53, 'Morocco': 0.7, 'New Zealand': 11.52, 'Denmark': 11.649999999999999, 'Samoa': 2.63, 'Argentina': 10.82, 'Oman': 1.03, 'Kiribati': 0.48, 'Albania': 1.73, 'Nepal': 0.03, 'Malaysia': 0.68, 'Latvia': 7.039999999999999, 'Haiti': 5.81, 'South Africa': 9.21, 'Republic of Korea': 9.620000000000001, 'Japan': 7.74, 'Mozambique': 0.39, 'Ethiopia': 0.8600000000000001, 'Panama': 4.6000000000000005, 'Germany': 14.64, 'Saint Lucia': 11.62, 'Rwanda': 7.549999999999999, 'Jordan': 0.19}

In [82]:
print(f" la conso annuelle en 1989 en litre au Canada est de {totals['Canada']}")

 la conso annuelle en litre au Canada est de 9.0

In [83]:
print(f" la conso annuelle en 1989 en litre au France est de {totals['France']}")

 la conso annuelle en 1989 en litre au France est de 16.05

### Trouver le pays qui consomme le plus d'alcool

In [87]:
highest_value = 0
highest_key = None
for k,v in totals.items():
    if v > highest_value:
        highest_value = v
        highest_key = k
        
print(f"Et le grand gagnant de conso d'alcool en 1989 est la {highest_key} avec un total de {highest_value} litres par habitant")

Et le grand gagnant de conso d'alcool en 1989 est la Hungary avec un total de 16.29 litres par habitant